<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Finance</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="dark-page">
	<div id="preloader"><div class="loading-round-border"></div></div>
<nav id="nav-fluid-logo-menu-btn-2" class="navbar dark navbar-fixed-top nav-start-hide-bg">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Your logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a href="#" class="btn-primary btn btn-lg navbar-btn navbar-right"><i class="icon-plus icon-position-left"></i><span>Download</span></a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span>About</span></a></li>
                <li><a href="#"><span>Screenshots</span></a></li>
                <li><a href="#"><span>Stories</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-slogan-text-btn" class="pt-250 pb-200 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-6">
                			<h1 class=""><strong>The <br>New vision</strong></h1>
            			</div>
            			<div class="col-md-6">
                			<p class="mb-50">So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success.</p>
                			<a href="#" class="btn btn-default"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>View more</span></a>
            			</div>

        			</div>
    			</div>
    			<div class="bg parallax-bg skrollable-after" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</header><section id="benefit-4col-border" class="pt-125 pb-125 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-3">
                			<div class="card card-simple padding-box border-box">
                    			<i class="icon-laptop-phone icon-color icon-size-l card-icon mb-20"></i>
                    			<h3>Responsive</h3>
                    			<p class="mb-25">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her.
                    			</p>
                    			<a href="#" class="btn btn-sm btn-default"><span>Read</span></a>
                			</div>

            			</div>
            			<div class="col-md-3">
                			<div class="card card-simple padding-box border-box">
                    			<i class="icon-paint-roller icon-color icon-size-l card-icon mb-20"></i>
                    			<h3>Pure design</h3>
                    			<p class="mb-25">No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information, the ... </p>
                    			<a href="#" class="btn btn-sm btn-default"><span>Read</span></a>
                			</div>

            			</div>
            			<div class="col-md-3">
                			<div class="card card-simple padding-box border-box">
                    			<i class="icon-file-empty icon-color icon-size-l card-icon mb-20"></i>
                    			<h3>Documentation</h3>
                    			<p class="mb-25">The detailed documentation will help you in adjusting the project with little effort according to your requirements. </p>
                    			<a href="#" class="btn btn-sm btn-default"><span>Read</span></a>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="card card-simple padding-box border-box">
                    			<i class="icon-wrench icon-color icon-size-l card-icon mb-20"></i>
                    			<h3>Cross platform</h3>
                    			<p class="mb-25">The page is adapted to the most of the popular platform in segment. All you need to do is to choose your variant and start working. </p>
                    			<a href="#" class="btn btn-sm btn-default"><span>Read</span></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="video-text-btn" class="pt-150 pb-150 dark">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6">
                			<div class="video-iframe embed-responsive embed-responsive-16by9">
                    			<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/166929892?title=0&amp;byline=0&amp;portrait=0" allowfullscreen=""></iframe>
                			</div>
            			</div>
            			<div class="col-md-5 col-md-offset-1">
                			<h2 class="mb-50">Innovations</h2>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. </p>
                			<a href="#" class="btn btn-default"><span>Try now</span><i class="icon-window icon-size-m icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="team-text-3col-2row" class=" pt-150 pb-150 dark text-left">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-3">
                			<h2>Team</h2>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions.</p>
                			<a href="#" class="btn btn-default"><span>Contact us</span><i class="icon-feather icon-size-m  icon-position-right"></i></a>
            			</div>
            			<div class="col-md-3">
                			<div class="card">
                    			<div class="card-block-hover">
                        			<div class="card-img-overlay-center card-img-overlay-bg">
                            			<ul class="social-list">
                                			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                            			</ul>
                        			</div>
                        			<img class="card-img" src="images/team-2.jpg" srcset="images/team-2@2x.jpg 2x" alt="team">
                    			</div>
                    			<div class="card-block">
                        			<h4 class="mt-20 mb-0"><strong>Laura O'Neil</strong></h4>
                        			<p>Manager</p>
                    			</div>
                			</div>
                			<div class="card">
                    			<div class="card-block-hover">
                        			<div class="card-img-overlay-center card-img-overlay-bg">
                            			<ul class="social-list">
                                			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                            			</ul>
                        			</div>
                        			<img class="card-img" src="images/team-1.jpg" srcset="images/team-1@2x.jpg 2x" alt="team">
                    			</div>
                    			<div class="card-block">
                        			<h4 class="mt-20 mb-0"><strong>Michael Smith</strong></h4>
                        			<p>Designer</p>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="card">
                    			<div class="card-block-hover">
                        			<div class="card-img-overlay-center card-img-overlay-bg">
                            			<ul class="social-list">
                                			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                            			</ul>
                        			</div>
                        			<img class="card-img" src="images/team-3.jpg" srcset="images/team-3@2x.jpg 2x" alt="team">
                    			</div>
                    			<div class="card-block">
                        			<h4 class="mt-20 mb-0"><strong>Katy Davis</strong></h4>
                        			<p>Programmer</p>
                    			</div>
                			</div>
                			<div class="card">
                    			<div class="card-block-hover">
                        			<div class="card-img-overlay-center card-img-overlay-bg">
                            			<ul class="social-list">
                                			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                            			</ul>
                        			</div>
                        			<img class="card-img" src="images/team-2.jpg" srcset="images/team-2@2x.jpg 2x" alt="team">
                    			</div>
                    			<div class="card-block">
                        			<h4 class="mt-20 mb-0"><strong>Laura O'Neil</strong></h4>
                        			<p>Manager</p>
                    			</div>
                			</div>

            			</div>
            			<div class="col-md-3">
                			<div class="card">
                    			<div class="card-block-hover">
                        			<div class="card-img-overlay-center card-img-overlay-bg">
                            			<ul class="social-list">
                                			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                            			</ul>
                        			</div>
                        			<img class="card-img" src="images/team-1.jpg" srcset="images/team-1@2x.jpg 2x" alt="team">
                    			</div>
                    			<div class="card-block">
                        			<h4 class="mt-20 mb-0"><strong>Michael Smith</strong></h4>
                        			<p>Designer</p>
                    			</div>
                			</div>
                			<div class="card">
                    			<div class="card-block-hover">
                        			<div class="card-img-overlay-center card-img-overlay-bg">
                            			<ul class="social-list">
                                			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                                			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                            			</ul>
                        			</div>
                        			<img class="card-img" src="images/team-3.jpg" srcset="images/team-3@2x.jpg 2x" alt="team">
                    			</div>
                    			<div class="card-block">
                        			<h4 class="mt-20 mb-0"><strong>Katy Davis</strong></h4>
                        			<p>Programmer</p>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-list-banner" class="dark pt-100 pb-200">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8">
                			<div class="row">
                    			<div class="col-sm-3">
                        			<h4><strong>Learn more</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Tour</a>
                            			</li>
                            			<li>
                                			<a href="#">Customers</a>
                            			</li>
                            			<li>
                                			<a href="#">Pricing and Plans</a>
                            			</li>
                            			<li>
                                			<a href="#">New Features</a>
                            			</li>
                            			<li>
                                			<a href="#">Education</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Extras</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Marketplace</a>
                            			</li>
                            			<li>
                                			<a href="#">Design</a>
                            			</li>
                            			<li>
                                			<a href="#">Team Sync</a>
                            			</li>
                            			<li>
                                			<a href="#">Disruptors</a>
                            			</li>
                            			<li>
                                			<a href="#">Free T-Shirt</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-6">
                        			<p class="border-box padding-box">So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his future targeted audience. UX and UI are not just empty phrases for us.</p>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<img src="images/banner-rect.png" srcset="images/banner-rect@2x.png 2x" alt="banner" class="screen">
            			</div>
        			</div>
        			<p class="mt-50">© Multifour.com. All rights reserved.</p>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/skrollr.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>