<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Service 1</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="loading-round-border"></div></div>
<nav id="nav-logo-menu-btn" class="navbar light navbar-fixed-top nav-start-hide-bg nav-start-double-pad">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Your logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a href="#" class="btn-default btn navbar-btn btn-sm navbar-right"><span>Download</span></a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span>Services</span></a></li>
                <li><a href="#"><span>Gallery</span></a></li>
                <li><a href="#"><span>Location</span></a></li>
                <li><a href="#"><span>FAQ</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg light"></div>
</nav>		<div id="wrap">
			<header id="header-slogan-halfbg" class="pt-250 pb-md-250 light">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<div class="mb-100">
                    			<h1 class=""><span class="text-uppercase"><strong>Design</strong></span><br><mark>&amp; Flexibility</mark></h1>
                    			<p class="">The given template is armed with the number of settings, so you can easily adapt it according to you requirements.
                    			</p>
                			</div>
                			<a href="#" class="btn btn-primary btn-lg btn-lg"><i class="icon-cloud-download icon-size-l icon-position-left"></i><span><strong>Download for FREE</strong></span></a>
            			</div>
            			<div class="col-md-5">
            			</div>
        			</div>
    			</div>
    			<div class="half-container-right bg-type-full-height mt-150 mb-125"></div>
    			<div class="bg parallax-bg" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</header><section id="desc-img-text-btn" class="light pt-150 pb-150 text-left sep-b">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 text-center">
                			<img src="images/chart-1.png" srcset="images/chart-1@2x.png 2x" alt="chart" class="screen">
            			</div>
            			<div class="col-md-5 col-md-offset-1">
                			<h2 class="mb-50">Flexibility</h2>
                			<p class="mb-50">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.
                			</p>
                			<a href="#" class="btn btn-default"><span>Try demo</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="video-text" class="light pt-150 pb-150 text-left sep-b">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<h2 class="mb-50">Innovations</h2>
                			<p>In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual. </p>
            			</div>
            			<div class="col-md-6 col-md-offset-1">
                			<div class="video-iframe embed-responsive embed-responsive-16by9">
                    			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XB2g7-HgE_g?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen=""></iframe>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="benefit-img-2col" class="pt-150 pb-150 light">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 text-md-left">
                			<img src="images/chart-2.png" srcset="images/chart-2@2x.png 2x" alt="chart" class="screen">
            			</div>
            			<div class="col-md-6">
                			<div class="row">
                    			<div class="col-md-6 text-left">
                        			<div class="card card-row">
                            			<i class="card-icon icon-size-m icon-laptop-phone icon-color"></i>
                            			<div class="card-block">
                                			<h3>Responsive</h3>
                                			<p>Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say him or her. </p>
                            			</div>
                        			</div>
                        			<div class="card card-row">
                            			<i class="card-icon icon-size-m icon-palette icon-color"></i>
                            			<div class="card-block">
                                			<h3>Pure Design</h3>
                                			<p>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information, the logic “Mobile first” in its best variant. </p>
                            			</div>
                        			</div>
                    			</div>
                    			<div class="col-md-6 text-left">
                        			<div class="card card-row">
                            			<i class="card-icon icon-size-m icon-knife icon-color"></i>
                            			<div class="card-block">
                                			<h3>Cross Platform</h3>
                                			<p>The page is adapted to the most of the popular platform in segment. All you need to do is to choose your variant and start working.</p>
                            			</div>
                        			</div>
                        			<div class="card card-row">
                            			<i class="card-icon icon-size-m icon-library icon-color"></i>
                            			<div class="card-block">
                                			<h3>Documentation</h3>
                                			<p>The detailed documentation will help you in adjusting the project with little effort according to your requirements. </p>
                            			</div>
                        			</div>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="testimonials-carousel-single-2" class="pt-100 text-center light">
    			<div class="container">
        			<h2>Stories</h2>
    			</div>
    			<div class="carousel-single-dots-height slide-img-carousel owl-drag"><div class="item container">
            			<p class="lead">I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody.</p>
            			<div class="card-author"><small>Tom Clancy</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-1.png" srcset="images/photo-1@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">Such simple and flexible settings make this product a universal solution for the most of the interested customers. Try it, I am sure for 100% that you will be satisfied.</p>
            			<div class="card-author"><small>Sarah Fox</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-2.png" srcset="images/photo-2@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">I am deeply experienced in this sphere (more than 14 years) and I know how should high-quality products look like. Here it is. It’s excellent.</p>
            			<div class="card-author"><small>Tod Valdi</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-3.png" srcset="images/photo-3@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">My colleague recommended them to me. I hesitated for a long time, but than I tried and understood what I had paid off for.</p>
            			<div class="card-author"><small>Alex, age 45</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-4.png" srcset="images/photo-4@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">It’s just five stars. I will certainly come back and bring my friends with me.</p>
            			<div class="card-author"><small>Tina85</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-8.png" srcset="images/photo-8@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">I don’t like to write reviews. But this time I can’t help from giving proper respect to developers. This is really nice work.</p>
            			<div class="card-author"><small>Customer, age 32</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-6.png" srcset="images/photo-6@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">I can’t find alternatives to this template in the market for such a price. Of course, if you seek deeply you will find the analogue, but believe my experience – the price will be much higher.</p>
            			<div class="card-author"><small>Sarah, designer</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-5.png" srcset="images/photo-5@2x.png 2x" alt="">
            			</div>
        			</div><div class="item container">
            			<p class="lead">This is a great product. It reveals an individual approach to each customer. I liked the level of the provided service.</p>
            			<div class="card-author"><small>Agency Director</small></div>
            			<div class="slide-img-block">
                			<img src="images/photo-7.png" srcset="images/photo-7@2x.png 2x" alt="">
            			</div>
        			</div></div>
    			<div class="bg"></div>
			</section><section id="price-4col" class="pt-125 pb-125 text-left light">
    			<div class="container">
        			<h2 class="text-center">Prices</h2>
        			<h4 class="mb-60 text-center">You are very important to us, all information received will always remain confidential.</h4>
        			<div class="row">
            			<div class="col-md-3 col-sm-6">
                			<div class="card card-simple border-box padding-box">
                    			<img src="images/stamp-free.png" srcset="images/stamp-free@2x.png 2x" alt="for free" style="position: absolute; right: -20px; top: -20px;">
                    			<h3>Trial</h3>
                    			<hr>
                    			<ul class="text-icon-list inline-block">
                        			<li><i class="icon-laptop-phone icon-size-m icon-color"></i><span>Fully responsive</span></li>
                        			<li><i class="icon-bucket icon-size-m icon-color"></i><span>Clean design</span></li>
                        			<li><i class="icon-equalizer icon-size-m icon-color"></i><span><del>Great flexibility</del></span></li>
                        			<li><i class="icon-book2 icon-size-m icon-color"></i><span><del>Documentation</del></span></li>
                        			<li><i class="icon-shield-check icon-size-m icon-color"></i><span><del>6 month support</del></span></li>
                    			</ul>
                    			<div class="flex-row-inline">
                        			<h2 class="mt-20 mb-20"><strong>FREE</strong></h2>
                        			<small class="desc-text">for just<br>1 month</small>
                    			</div>
                    			<a href="#" class="btn btn-primary btn-block"><span>Try now</span></a>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6">
                			<div class="card card-simple border-box padding-box">
                    			<img src="images/stamp-beginner.png" srcset="images/stamp-beginner@2x.png 2x" alt="best for beginners" style="position: absolute; right: -20px; top: -20px;">
                    			<h3>Beginner</h3>
                    			<hr>
                    			<ul class="text-icon-list inline-block">
                        			<li><i class="icon-laptop-phone icon-size-m icon-color"></i><span>Fully responsive</span></li>
                        			<li><i class="icon-bucket icon-size-m icon-color"></i><span>Clean design</span></li>
                        			<li><i class="icon-equalizer icon-size-m icon-color"></i><span>Great flexibility</span></li>
                        			<li><i class="icon-book2 icon-size-m icon-color"></i><span><del>Documentation</del></span></li>
                        			<li><i class="icon-shield-check icon-size-m icon-color"></i><span><del>6 month support</del></span></li>
                    			</ul>
                    			<div class="flex-row-inline">
                        			<h2 class="mt-20 mb-20"><strong>$0.99</strong></h2>
                        			<small class="desc-text">per <br>month</small>
                    			</div>
                    			<a href="#" class="btn btn-primary btn-block"><span>Buy now</span></a>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6">
                			<div class="card card-simple border-box padding-box">
                    			<img src="images/stamp-best.png" srcset="images/stamp-best@2x.png 2x" alt="king size" style="position: absolute; right: -20px; top: -20px;">
                    			<h3>Gold</h3>
                    			<hr>
                    			<ul class="text-icon-list inline-block">
                        			<li><i class="icon-laptop-phone icon-size-m icon-color"></i><span>Fully responsive</span></li>
                        			<li><i class="icon-bucket icon-size-m icon-color"></i><span>Clean design</span></li>
                        			<li><i class="icon-equalizer icon-size-m icon-color"></i><span>Great flexibility</span></li>
                        			<li><i class="icon-book2 icon-size-m icon-color"></i><span>Documentation</span></li>
                        			<li><i class="icon-shield-check icon-size-m icon-color"></i><span><del>6 month support</del></span></li>
                    			</ul>
                    			<div class="flex-row-inline">
                        			<h2 class="mt-20 mb-20"><strong>$9.99</strong></h2>
                        			<small class="desc-text">per <br>month</small>
                    			</div>
                    			<a href="#" class="btn btn-primary btn-block"><span>Buy now</span></a>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6">
                			<div class="card card-simple border-box padding-box">
                    			<img src="images/stamp-king.png" srcset="images/stamp-king@2x.png 2x" alt="king size" style="position: absolute; right: -20px; top: -20px;">
                    			<h3>Platinum</h3>
                    			<hr>
                    			<ul class="text-icon-list inline-block">
                        			<li><i class="icon-laptop-phone icon-size-m icon-color"></i><span>Fully responsive</span></li>
                        			<li><i class="icon-bucket icon-size-m icon-color"></i><span>Clean design</span></li>
                        			<li><i class="icon-equalizer icon-size-m icon-color"></i><span>Great flexibility</span></li>
                        			<li><i class="icon-book2 icon-size-m icon-color"></i><span>Documentation</span></li>
                        			<li><i class="icon-shield-check icon-size-m icon-color"></i><span>6 month support</span></li>
                    			</ul>
                    			<div class="flex-row-inline">
                        			<h2 class="mt-20 mb-20"><strong>$16.99</strong></h2>
                        			<small class="desc-text">per <br>month</small>
                    			</div>
                    			<a href="#" class="btn btn-primary btn-block"><span>Buy now</span></a>
                			</div>
            			</div>
        			</div>
        			<div class="row mt-50">
            			<div class="col-md-2"><img class="screen" src="images/client-1.png" srcset="images/client-1@2x.png 2x" alt="logo"></div>
            			<div class="col-md-10">
                			<p class="small">You are very important to us, all information received will always remain confidential. Emotions that causes your project in visitor are no less important ticket to success.</p>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-list-logo" class="pt-100 pb-250 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8">
                			<div class="row">
                    			<div class="col-sm-3">
                        			<h4><strong>Learn more</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Tour</a>
                            			</li>
                            			<li>
                                			<a href="#">Customers</a>
                            			</li>
                            			<li>
                                			<a href="#">Pricing and Plans</a>
                            			</li>
                            			<li>
                                			<a href="#">New Features</a>
                            			</li>
                            			<li>
                                			<a href="#">Education</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Extras</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Marketplace</a>
                            			</li>
                            			<li>
                                			<a href="#">Design</a>
                            			</li>
                            			<li>
                                			<a href="#">Team Sync</a>
                            			</li>
                            			<li>
                                			<a href="#">Disruptors</a>
                            			</li>
                            			<li>
                                			<a href="#">Free T-Shirt</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Follow us</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Twitter</a>
                            			</li>
                            			<li>
                                			<a href="#">Facebook</a>
                            			</li>
                            			<li>
                                			<a href="#">Instagramm</a>
                            			</li>
                            			<li>
                                			<a href="#">Dribbble</a>
                            			</li>
                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Contact us</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Address</a>
                            			</li>
                            			<li>
                                			<a href="#">Phnone number</a>
                            			</li>
                            			<li>
                                			<a href="#">Email</a>
                            			</li>
                            			<li>
                                			<a href="#">Work time</a>
                            			</li>

                        			</ul>
                    			</div>

                			</div>
                			<div class="mt-100"><span>© Multifour.com. All rights reserved.</span></div>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<img src="images/logo-mid.png" srcset="images/logo-mid@2x.png 2x" alt="Your logo">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/skrollr.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>