<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Coming soon 2</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
    <body class="light-page">
		<div id="wrap">
			<header id="header-img-timer" class="light pt-125 pb-0 text-left">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 col-md-push-6">
                			<h1 class="mb-40" style=""><strong>Coming soon</strong></h1>
                			<div class="row countdown mb-20" id="header-img-timer-countdown" style="">
                    			<div class="col-sm-3 col-xs-6" style="">
                        			<h2 class="mb-0"><span class="days">457</span></h2>
                        			<h4 class="">Days</h4>
                        			<div class="col-md-sep"><span>:</span></div>
                    			</div>
                    			<div class="col-sm-3 col-xs-6">
                        			<h2 class="mb-0"><span class="hours">10</span></h2>
                        			<h4 class="">Hours</h4>
                        			<div class="col-md-sep"><span>:</span></div>
                    			</div>
                    			<div class="col-sm-3 col-xs-6">
                        			<h2 class="mb-0"><span class="minutes">21</span></h2>
                        			<h4 class="">Minutes</h4>
                        			<div class="col-md-sep"><span>:</span></div>
                    			</div>
                    			<div class="col-sm-3 col-xs-6">
                        			<h2 class="mb-0"><span class="seconds">29</span></h2>
                        			<h4>Seconds</h4>
                    			</div>
                			</div>
                			<p class="mb-50">Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. </p>
                			<a href="#benefit-fluid-card-4col" class="btn btn-lg btn-default mb-75 smooth" style="" target="_self"><span><strong>Find out more</strong></span></a>
            			</div>
            			<div class="col-md-6 col-md-pull-6 text-center">
                			<img src="images/mockup-iphone6-angle-half-silver-2.png" srcset="images/mockup-iphone6-angle-half-silver-2@2x.png 2x" alt="Screen" class="screen" data-aos="fade-right" data-aos-easing="ease-out-back" data-aos-duration="900" data-aos-delay="0" data-aos-once="true">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="benefit-fluid-card-4col" class="text-center dark">
    			<div class="container-fluid">
        			<div class="row flex-md-vstretch no-side-pad no-pad">
               
                			<div class="col-md-3 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #5F4685;">
                    			<i class="icon-chip icon-size-xl icon-color inline-block mb-30"></i>
                    			<h3 class="">Smart innovations</h3>
                			</div>

                			<div class="col-md-3 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #3C3E79;">
                    			<i class="icon-window icon-size-xl icon-color inline-block mb-30"></i>
                    			<h3 class="">Design &amp; interface</h3>
                			</div>


                			<div class="col-md-3 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #23659F;">
                    			<i class="icon-pie-chart2 icon-size-xl icon-color inline-block mb-30"></i>
                    			<h3 class="">Flexibility for people</h3>
                			</div>

                			<div class="col-md-3 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #1BB3D3;">
                    			<i class="icon-mouse-left icon-size-xl icon-color inline-block mb-30"></i>
                    			<h3 class="">Comfortable menu</h3>
                			</div>

        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-text-btn-img-anim-2" class="light pt-150 pb-150 text-left sep-full-b">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<h2 class="mb-50">Flexibility</h2>
                			<p class="mb-50">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.
                			</p>
                			<a href="#" class="btn btn-primary btn-lg"><span>Try demo</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
            			<div class="col-md-6 col-md-offset-1">
                			<div class="anim-box" style="padding-right: 7%; padding-top: 7%">
                    			<img src="images/mockup-imac.png" srcset="images/mockup-imac@2x.png 2x" alt="Screen" class="screen" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="0" style="position:relative; z-index:2;">
                    
                    			<img src="images/stamp-best-round.png" srcset="images/stamp-best-round@2x.png 2x" alt="Screen" class="screen inline-block" data-aos="rotate-in" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="800" style="position: absolute;right:0;top:0;z-index:3;">
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-img-anim-text-btn" class="light pt-150 pb-150 text-left sep-full-b">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 text-left">
                			<div class="anim-box" style="padding-right:33%;">
                    			<img src="images/mockup-pixel-silver.png" srcset="images/mockup-pixel-silver@2x.png 2x" alt="Screen" class="screen" data-aos="fade-right" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="0" style="position:relative; z-index:2;">
                    
                    			<img src="images/mockup-pixel-black.png" srcset="images/mockup-pixel-black@2x.png 2x" alt="Screen" class="screen inline-block" data-aos="fade-right" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="800" style="position: absolute;right:0px;bottom:5%;height:90%;z-index:1;">
                			</div>
            			</div>
            			<div class="col-md-5 col-md-offset-1">
                			<h2 class="mb-50">Flexibility</h2>
                			<p class="mb-50">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.
                			</p>
                			<a href="#" class="btn btn-default btn-lg"><span>Try demo</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="counter-text-2col" class="counter-up light pt-150 pb-150 text-left">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<h2 class="">About us</h2>
                			<p class="mb-40">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.</p>
                			<a class="btn btn-lg btn-primary" href="http://localhost/suprapagebuilder/main.html#"><span>Read more</span></a>
            			</div>
            			<div class="col-md-3 col-md-offset-1 col-sm-6 text-center">
                			<div class="card card-simple">
                    			<i class="card-icon icon-happy icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">4000</strong></h2>
                    			<h4>Happy clients</h4>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-window icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">100</strong></h2>
                    			<h4>Unique sections</h4>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6 text-center">
                			<div class="card card-simple">
                    			<i class="card-icon icon-wrench icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">30</strong></h2>
                    			<h4>New features</h4>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-files icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">14</strong></h2>
                    			<h4>Ready pages</h4>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-text-img-btn" class="pt-100 pb-0 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-4">
                			<p class="mb-50">© Multifour.com. <br>All rights reserved.</p>
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
            			<div class="col-md-4 col-md-push-4 text-md-right">
               			<h3 class="mb-50">Download App today and get <strong>20% discount</strong></h3>
                			<a class="btn btn-default btn-lg" href="http://localhost/suprapagebuilder/main.html#"><span>Pre-Order now</span></a>
            			</div>
            			<div class="col-md-4 col-md-pull-4 text-center">
                			<img src="images/mockup-iphone7-top-jet.png" srcset="images/mockup-iphone7-top-jet@2x.png 2x" alt="Screen" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/countUp-jquery.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>