<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Service 4</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="circles"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
<nav id="nav-logo-menu-btn" class="navbar dark navbar-fixed-top nav-start-hide-bg nav-start-double-pad">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Your logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <a href="#" class="btn-default btn navbar-btn btn-sm navbar-right"><span>Download</span></a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span>Services</span></a></li>
                <li><a href="#"><span>Gallery</span></a></li>
                <li><a href="#"><span>Location</span></a></li>
                <li><a href="#"><span>FAQ</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-img-slogan" class="pt-200 pb-125 dark">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 text-center">
                			<img src="images/mockup-imac.png" srcset="images/mockup-imac@2x.png 2x" alt="Screen" class="screen">
            			</div>
            			<div class="col-md-5 col-md-offset-1">
                			<h1><strong>GUM</strong></h1>
                			<h2>Landing page set with Page Builder</h2>
                			<p class="mb-25">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. </p>
                			<ul class="text-icon-list">
                    			<li><i class="icon-paint-roller icon-size-m icon-position-left"></i><span>Unlimited template colors</span></li>
                    			<li><i class="icon-wrench icon-size-m icon-position-left"></i><span>New flexible platform</span></li>
                    			<li><i class="icon-file-empty icon-size-m icon-position-left"></i><span>Ready pages included</span></li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="benefit-3col-2" class=" light pt-150 pb-150 text-left sep-b">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card card-row">
                    			<img src="images/icon-1.png" class="screen" alt="" style="width:75px">
                    			<div class="card-block">
                        			<h2>Flexibility</h2>
                        			<p class="mb-25">So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us.
                        			</p>
                        			<a href="#" class="btn btn-default btn-sm"><span>View</span><i class="icon-arrow-right icon-position-right"></i></a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-row">
                    			<img src="images/icon-2.png" class="screen" alt="" style="width:75px">
                    			<div class="card-block">
                        			<h2>Pure design</h2>
                        			<p class="mb-25">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible.</p>
                        			<a href="#" class="btn btn-default btn-sm"><span>View</span><i class="icon-arrow-right icon-position-right"></i></a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-row">
                    			<img src="images/icon-3.png" class="screen" alt="" style="width:75px">
                    			<div class="card-block">
                        			<h2>New level</h2>
                        			<p class="mb-25">Do you want to create a new project or to update the previous one? So, this template will match you ideally. Innovative solutions and simple mathematically calculated design ... </p>
                        			<a href="#" class="btn btn-default btn-sm"><span>View</span><i class="icon-arrow-right icon-position-right"></i></a>
                    			</div>
                			</div>
            			</div>

        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-img-text-btn" class="pt-150 pb-150 light">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6 text-center">
                			<img src="images/chart-1.png" srcset="images/chart-1@2x.png 2x" alt="chart" class="screen">
            			</div>
            			<div class="col-md-5 col-md-offset-1">
                			<h2 class="mb-50">Flexibility</h2>
                			<p class="mb-50">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.
                			</p>
                			<a href="#" class="btn btn-default"><span>Try demo</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="counter-4col" class="pt-150 pb-150 dark text-center counter-up">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-window icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">100</strong></h2>
                    			<h4>Unique sections</h4>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-files icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">14</strong></h2>
                    			<h4>Ready pages</h4>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-happy icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">4000</strong></h2>
                    			<h4>Happy clients</h4>
                			</div>
            			</div>
            			<div class="col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-wrench icon-color icon-size-xl mb-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">30</strong></h2>
                    			<h4>New features</h4>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="price-2col" class="pt-150 pb-150 text-left light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-3">
                			<h2 class="mb-50">Prices</h2>
                			<p class="mb-25">You are very important to us, all information received will always remain confidential. Emotions that causes your project in visitor are no less important ticket to success.</p>
                			<a href="#" class="btn btn-default"><i class="icon-medal-empty icon-position-left"></i><span>Get special offer!</span></a>
            			</div>
            			<div class="col-md-4 col-md-offset-1">
                			<div class="card card-simple border-box padding-box">
                    			<img src="images/stamp-free.png" srcset="images/stamp-free@2x.png 2x" alt="for free" style="position: absolute; right: -20px; top: -20px;">
                    			<h3>Trial</h3>
                    			<hr>
                    			<ul class="text-icon-list inline-block">
                        			<li><i class="icon-laptop-phone icon-size-m icon-color"></i><span>Fully responsive</span></li>
                        			<li><i class="icon-bucket icon-size-m icon-color"></i><span>Clean design</span></li>
                        			<li><i class="icon-equalizer icon-size-m icon-color"></i><span><del>Great flexibility</del></span></li>
                        			<li><i class="icon-book2 icon-size-m icon-color"></i><span><del>Documentation</del></span></li>
                        			<li><i class="icon-shield-check icon-size-m icon-color"></i><span><del>6 month support</del></span></li>
                    			</ul>
                    			<div class="flex-row-inline">
                        			<h2 class="mt-30"><strong>FREE</strong></h2>
                        			<small class="desc-text">for just<br>1 month</small>
                    			</div>
                    			<a href="#" class="btn btn-info btn-block"><span>Try now</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple border-box padding-box">
                    			<img src="images/stamp-king.png" srcset="images/stamp-king@2x.png 2x" alt="King size" style="position: absolute; right: -20px; top: -20px;">
                    			<h3>Professional</h3>
                    			<hr>
                    			<ul class="text-icon-list inline-block">
                        			<li><i class="icon-laptop-phone icon-size-m icon-color"></i><span>Fully responsive</span></li>
                        			<li><i class="icon-bucket icon-size-m icon-color"></i><span>Clean design</span></li>
                        			<li><i class="icon-equalizer icon-size-m icon-color"></i><span>Great flexibility</span></li>
                        			<li><i class="icon-book2 icon-size-m icon-color"></i><span>Documentation</span></li>
                        			<li><i class="icon-shield-check icon-size-m icon-color"></i><span>6 month support</span></li>
                    			</ul>
                    			<div class="flex-row-inline">
                        			<h2 class="mt-30"><strong>$9.99</strong></h2>
                        			<small class="desc-text">per <br>month</small>
                    			</div>
                    			<a href="#" class="btn btn-warning btn-block"><span>Buy now</span></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-logo-share" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8 col-md-push-4 text-md-right">
                			<ul class="share-list">
                    			<li>
                        			<a href="#" class="goodshare" data-type="fb"><i class="icon-facebook"></i><span>Share</span><span data-counter="fb"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="tw"><i class="icon-twitter"></i><span>Tweet</span><span data-counter="tw"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="gp"><i class="icon-google-plus"></i><span>Share</span><span data-counter="gp"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="li"><i class="icon-linkedin"></i><span>Share</span><span data-counter="li"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="pt"><i class="icon-pinterest-p"></i><span>Share</span><span data-counter="pt"></span></a>
                    			</li>
                			</ul>
            			</div>
            			<div class="col-md-4 text-md-left col-md-pull-8">
                			<div class="clearfix">
                   			<img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Your logo" class="pull-left-md">
                    			<div class="pull-left-md"><span>© Multifour.com.<br>All rights reserved.</span></div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/countUp-jquery.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>