<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Agency 3</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="loading-round-border"></div></div>
<nav id="nav-logo-2row" class="navbar dark navbar-fixed-top nav-start-hide-bg">
    <div class="container">
        <div class="clearfix">
            <p class="navbar-text pull-left">
                Tel: <strong>+1(890)1321312</strong>
            </p>     
            <ul class="social-list pull-right hidden-xs">
                <li>
                    <a href="#" target="_blank"><i class="icon-twitter icon-size-m"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="icon-facebook icon-size-m"></i></a>
                </li>
                <li>
                    <i class="icon-dribbble icon-size-m"></i>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="icon-behance icon-size-m"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="icon-envelope-o icon-size-m"></i></a>
                </li>
            </ul>
        </div>
        <hr class="mt-0 mb-0" style="opacity: 0.5">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="Your logo"></div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span>Services</span></a></li>
                <li><a href="#"><span>Gallery</span></a></li>
                <li><a href="#"><span>Location</span></a></li>
                <li><a href="#"><span>FAQ</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-center-logo-slogan-img" class=" dark pt-200 pb-200 text-center">
    			<div class="container">
        			<div class="row no-pad">
            			<div class="col-md-12">
                			<img src="images/logo2-light-big.png" srcset="images/logo2-light-big@2x.png 2x" class="mb-75" alt="Gumapp">
                			<h1 class="mb-40">Innovative solutions and design</h1>
                			<p class="mb-75 compressed-box-50">So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his future targeted audience. UX and UI are not just empty phrases for us.</p>

                
            			</div>
        			</div>
    			</div>
    			<img src="images/shape-1.png" alt="shape" class="inline-block" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2500" data-aos-delay="2000" style="position:absolute;bottom:45%;left:65%;">
    			<img src="images/shape-2.png" alt="shape" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2500" data-aos-delay="200" style="position:absolute; bottom:0; left:10%;">
    			<a href="#chart-horiz-chart" target="_self" class="smooth" style="position:absolute; bottom:0; left:50%; margin-left:-150px;"><img src="images/go-down.png" srcset="images/go-down@2x.png 2x" alt="go down" class=""></a>
    			<div class="bg bg-video" data-vide-bg="mp4: video/abstract_video_1.mp4, ogv: video/abstract_video_1.ogv, jpg: video/abstract_video_1.jpg" data-vide-options="posterType: jpg"></div>
			</header><section id="chart-horiz-chart" class="light pt-100 pb-100 text-center">
    			<div class="container" style="">

        			<h2 class="mb-40">Our Skills</h2>
        			<p class="mb-60">Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. You project will not look like a template bought in a store and adapted within couple of hours. </p>

        			<div class="flex-horiz-box flex-horiz-around text-center" style="height:350px;">
            			<div class="chart-line dark" style="background-color: #5847a0; width: 65%;" data-aos="stretch-horizontal" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"><small data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="500">65%</small></div>
            			<div>
                			<p class="small">Content</p>
            			</div>
            			<div class="chart-line dark" style="background-color: #4751a0; width: 85%;" data-aos="stretch-horizontal" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"><small data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="500">85%</small></div>
            			<div>
                			<p class="small">CSS</p>
            			</div>
            			<div class="chart-line dark" style="background-color: #4762a0; width: 95%;" data-aos="stretch-horizontal" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"><small data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="500">95%</small></div>
            			<div>
                			<p class="small">JavaScript</p>
            			</div>
            			<div class="chart-line dark" style="background-color: #3592ba; width: 75%;" data-aos="stretch-horizontal" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"><small data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="500">75%</small></div>
            			<div>
                			<p class="small">PHP</p>
            			</div>
            			<div class="chart-line dark" style="background-color: #38a4d4; width: 99%;" data-aos="stretch-horizontal" data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0"><small data-aos="fade" data-aos-easing="none" data-aos-duration="500" data-aos-delay="500">99%</small></div>
            			<div>
                			<p class="small mb-0">Design</p>
            			</div>
        			</div>

    			</div>
    			<div class="bg"></div>
			</section><section id="counter-fluid-6col" class="pt-50 pb-75 dark text-center counter-up">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="col-lg-2 col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-window icon-color icon-size-xl mb-25 mt-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">400</strong></h2>
                    			<h4 class="">Unique sections</h4>
                			</div>
            			</div>
            			<div class="col-lg-2 col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-files icon-color icon-size-xl mb-25 mt-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">40</strong></h2>
                    			<h4>Ready pages</h4>
                			</div>
            			</div>
            			<div class="col-lg-2 col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-happy icon-color icon-size-xl mb-25 mt-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">4000</strong></h2>
                    			<h4 class="">Happy clients</h4>
                			</div>
            			</div>
            			<div class="col-lg-2 col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-wrench icon-color icon-size-xl mb-25 mt-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">30</strong></h2>
                    			<h4>New features</h4>
                			</div>
            			</div>
            			<div class="col-lg-2 col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-trophy2 icon-color icon-size-xl mb-25 mt-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">4</strong></h2>
                    			<h4>Awards</h4>
                			</div>
            			</div>
            			<div class="col-lg-2 col-md-3">
                			<div class="card card-simple">
                    			<i class="card-icon icon-gift icon-color icon-size-xl mb-25 mt-25"></i>
                    			<h2 class="mb-10"><strong class="count-up-data">70</strong></h2>
                    			<h4>Money save</h4>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="gallery-list-3col-5" class="pt-125 pb-125 text-center light">
    			<div class="container no-side-pad">
       
        			<h2 class="mb-75">Our Works</h2>

        			<div class="row no-pad gallery">
            			<div class="col-md-6">
                			<a href="images/screen-49.jpg" class="gallery-box gallery-style-4">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Living room</strong></span>
                    			<img src="images/screen-49.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/screen-50.jpg" class="gallery-box gallery-style-4">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Kitchen</strong></span>
                    			<img src="images/screen-50.jpg" alt="screen">
                			</a>
                			<a href="images/screen-51.jpg" class="gallery-box gallery-style-4">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Free Wi-Fi</strong></span>
                    			<img src="images/screen-51.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/screen-52.jpg" class="gallery-box gallery-style-4">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Cozy armchairs</strong></span>
                    			<img src="images/screen-52.jpg" alt="screen">
                			</a>
                			<a href="images/screen-53.jpg" class="gallery-box gallery-style-4">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Unforgettable atmosphere</strong></span>
                    			<img src="images/screen-53.jpg" alt="screen">
                			</a>
            			</div>
        			</div>
        			<p class="mt-75 compressed-box-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible</p>
        			<a href="#" class="btn btn-default mt-50">View all offers</a>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-card-3col" class=" dark pt-125 pb-125 text-center">
    			<div class="container" style="">
        			<h2 class="">Our Services</h2>
        			<h4 class="mb-75">Posts and photos from the most interesting places</h4>
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card light" style="background-color:#fff;">
                    			<img src="images/screen-57.jpg" srcset="images/screen-57@2x.jpg 2x" alt="Photo" class="card-img-top">
                    			<div class="card-block padding-box">
                        			<h3><strong>Design</strong></h3>
                        			<p class="mb-30">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say</p>
                        			<a class="btn btn-default" href="#"><span>Read more</span></a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card light" style="background-color:#fff;">
                    			<img src="images/screen-59.jpg" srcset="images/screen-59@2x.jpg 2x" alt="Photo" class="card-img-top">
                    			<div class="card-block padding-box">
                        			<h3><strong>Flexibility</strong></h3>
                        			<p class="mb-30">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say</p>
                        			<a class="btn btn-default" href="#"><span>Read more</span></a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card light" style="background-color:#fff;">
                    			<img src="images/screen-60.jpg" srcset="images/screen-60@2x.jpg 2x" alt="Photo" class="card-img-top">
                    			<div class="card-block padding-box">
                        			<h3 class=""><strong>Interface</strong></h3>
                        			<p class="mb-30">Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say</p>
                        			<a class="btn btn-default" href="#"><span>Read more</span></a>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="price-3col-2" class="pt-100 pb-100 text-center light">
    			<div class="container" style="">
        			<h2 class="">Our Prices</h2>
        			<h4 class="mb-50">You are very important to us, all information received will always remain confidential.</h4>
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card card-simple padding-box border-box">
                    			<h3 class="">Trial</h3>
                    			<hr>
                    			<h2 class="mb-0"><strong>FREE</strong></h2>
                    			<small class="desc-text">for just 1 month</small>
                    			<hr>
                    			<p class="mb-25">Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money</p>
                    			<a href="#" class="btn btn-default"><span>Try now</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple padding-box border-box">
                    			<img src="images/stamp-best-round.png" srcset="images/stamp-best-round@2x.png 2x" alt="best for beginners" style="position: absolute; right: -50px; top: 110px;" class="">
                    			<h3>Beginner</h3>
                    			<hr>
                    			<h2 class="mb-0"><strong>$0.99</strong></h2>
                    			<small class="desc-text">per month</small>
                    			<hr>
                    			<p class="mb-25">Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money</p>
                    			<a href="#" class="btn btn-default"><span>Buy now</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple padding-box border-box">
                    			<h3>Platinum</h3>
                    			<hr>
                    			<h2 class="mb-0"><strong>$16.99</strong></h2>
                    			<small class="desc-text">per month</small>
                    			<hr>
                    			<p class="mb-25">Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money</p>
                    			<a href="#" class="btn btn-default"><span>Buy now</span></a>
                			</div>
            			</div>
        			</div>

        			<p class="desc-text compressed-box-75 small mt-50">If an eligible item that you’ve bought online doesn’t arrive, or doesn’t match the seller’s description, PayPal's Buyer Protection may reimburse you for the full amount of the item plus postage. Buyer Protection can cover your eligible online purchases, on eBay or on any other website, when you use PayPal. Conditions apply.</p>

    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-list-subscribe-2" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8">
                			<div class="row">
                    			<div class="col-sm-4">
                        			<h4><strong>Learn more</strong></h4>
                        			<ul class="text-list">
                            			<li class="">
                                			<a href="#">Pricing and Plans</a>
                            			</li>
                            			<li>
                                			<a href="#">Customers care association</a>
                            			</li>
                            			<li>
                                			<a href="#">New features &amp; benefits</a>
                            			</li>
                            			<li>
                                			<a href="#">Company education</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-5">
                        			<h4><strong>About</strong></h4>
                        			<p>The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.</p>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Social</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<i class="icon-facebook icon-position-left"></i><span><a href="#">Facebook</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-twitter icon-position-left"></i><span><a href="#">Twitter</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-instagram icon-position-left"></i><span><a href="#">Instagram</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-linkedin icon-position-left"></i><span><a href="#">Linkedin</a></span>
                            			</li>
                        			</ul>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<h4 class="">Newsletter</h4>
                			<form action="./scripts/request.php" class="contact_form form-inline form-flex" novalidate="novalidate" id="footer-list-subscribe-2-form">
                    			<div class="form-group"><input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" size="10"></div><button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-link"><span>GO</span></button>
                			</form>
                			<small class="desc-text small">Follow us in social networks. You can also subscribe for our news. We are going to provide you with actual and important for you information without spam or fluff.</small>
            			</div>
        			</div>
        			<hr class="mt-50 mb-50">
        			<div class="row">
            			<div class="col-md-6">
                			<p>© Multifour.com.
                    			<br>All rights reserved.</p>
            			</div>
            			<div class="col-md-6 text-md-right">
                			<img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="logo" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.vide.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/jquery.waypoints.min.js"></script>
		<script src="js/countUp-jquery.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>