<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Food</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="location_indicator"></div></div>
<nav id="nav-center-menu-logo-btn" class="navbar dark navbar-fixed-top nav-start-hide-bg">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-brand navbar-brand-center"><img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="Your logo"></div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class=""><a href="#desc-center-text" target="_self" class="smooth"><span>About</span></a></li>
                <li class=""><a href="#gallery-fluid-list-4col-2row" target="_self" class="smooth"><span>Screenshots</span></a></li>
                <li class=""><a href="#team-3col" target="_self" class="smooth"><span>Stories</span></a></li>
            </ul>
            <a href="#contact-img-form" class="btn-default btn btn-sm navbar-btn navbar-right smooth" target="_self"><span>Book a table</span></a>
        </div>
    </div>

    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-center-slogan-img-2" class="pt-200 pb-250 dark text-center">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<h3 data-aos="fade-down" data-aos-easing="none" data-aos-once="true" data-aos-duration="500" data-aos-delay="1000"><span class="text-uppercase">Your restaurant</span></h3>
                			<h1 data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-duration="600" data-aos-delay="600" data-aos-once="true"><span class="text-uppercase">Good staff and <br><strong>fresh food</strong></span></h1>
            			</div>
        			</div>
    			</div>
    			<div class="absolute-bottom-box">
        			<img src="images/food-top-1.png" srcset="images/food-top-1@2x.png 2x" alt="" class="screen" data-aos="slide-up" data-aos-easing="none" data-aos-once="true" data-aos-duration="600" data-aos-delay="0">
    			</div>
    			<div class="bg"></div>
			</header><section id="desc-img-text-3col" class="bg-1-color-light pt-100 pb-100 text-center light">
    			<div class="container" style="">
        			<h2 class="mb-25"><span class="text-uppercase"><strong>New menu</strong></span></h2>
        			<h3 class="mb-75" contenteditable="true" style="overflow: visible;">Pizza &amp; Seafood</h3>
        			<div class="row">
            			<div class="col-md-4">
                			<img src="images/food-1.jpg" srcset="images/food-1@2x.jpg 2x" alt="food" class="screen mb-25">
                			<div class="row no-pad">
                    			<div class="col-md-8 text-md-left">
                        			<h4 class="mb-10">Omelette pizza</h4>
                        			<p class="desc-text mb-10">Eggs / Cheddar / Basil</p>
                    			</div>
                    			<div class="col-md-4 text-md-right">
                        			<p><strong>$17.65</strong></p>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<img src="images/food-2.jpg" srcset="images/food-2@2x.jpg 2x" alt="food" class="screen mb-25">
                			<div class="row no-pad">
                    			<div class="col-md-8 text-md-left">
                        			<h4 class="mb-10">Pizza domino</h4>
                        			<p class="desc-text mb-10">Mozzarella / Basil / Salami</p>
                    			</div>
                    			<div class="col-md-4 text-md-right">
                        			<p><strong>$17.65</strong></p>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<img src="images/food-3.jpg" srcset="images/food-3@2x.jpg 2x" alt="food" class="screen mb-25">
                			<div class="row no-pad">
                    			<div class="col-md-8 text-md-left">
                        			<h4 class="mb-10">Salmon pesto</h4>
                        			<p class="desc-text mb-10">Salmon / Basil / Potatoe</p>
                    			</div>
                    			<div class="col-md-4 text-md-right">
                        			<p><strong>$17.65</strong></p>
                    			</div>
                			</div>
            			</div>
        			</div>
        			<a class="btn btn-default mt-75" href="#">Download menu</a>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-center-text" class="pt-125 pb-150 dark text-center">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-6 col-md-offset-3">
                			<h2 class="mb-25"><span class="text-uppercase"><strong>Our story</strong></span></h2>
                			<h3 class="mb-75"><em>Since 1914</em></h3>
                			<p class="">
                    So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success
                			</p>
            			</div>

        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="gallery-fluid-list-4col-2row" class="pt-75 text-center light">
    			<div class="container-fluid no-side-pad">
        			<h2 class="mb-25"><span class="text-uppercase"><strong>Gallery</strong></span></h2>
        			<h3 class="mb-75">Interior, dishes and staff</h3>
        			<div class="gallery row no-pad">
            			<div class="col-md-3">
                			<a href="images/screen-17.jpg" class="gallery-box">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption">Gallery item with zoom option</span>
                    			<img src="images/screen-17.jpg" alt="screen">
                			</a>
                			<a href="https://vimeo.com/123395658" class="gallery-box mfp-iframe">
                    			<i class="icon icon-size-m icon-ion-ios-play-outline"></i>
                    			<span class="caption">Video item</span>
                    			<img src="images/screen-18.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="https://www.google.com.ua" target="_blank" class="gallery-box external">
                    			<i class="icon icon-size-m icon-link"></i>
                    			<span class="caption">Item with external link</span>
                    			<img src="images/screen-19.jpg" alt="screen">
                			</a>

                			<a href="images/screen-20.jpg" class="gallery-box">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption">Gallery item with zoom option</span>
                    			<img src="images/screen-20.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/screen-21.jpg" class="gallery-box">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption">Gallery item with zoom option</span>
                    			<img src="images/screen-21.jpg" alt="screen">
                			</a>

                			<a href="images/screen-22.jpg" class="gallery-box">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption">Gallery item with zoom option</span>
                    			<img src="images/screen-22.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/screen-23.jpg" class="gallery-box">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption">Gallery item with zoom option</span>
                    			<img src="images/screen-23.jpg" alt="screen">
                			</a>

                			<a href="images/screen-24.jpg" class="gallery-box">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption">Gallery item with zoom option</span>
                    			<img src="images/screen-24.jpg" alt="screen">
                			</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="clients-line" class="pt-125 pb-125 dark text-center">
    			<div class="container">
        			<h2 class="mb-25"><span class="text-uppercase"><strong>Clients</strong></span></h2>
        			<h3 class="mb-75">Partnes &amp; Clients</h3>
        			<div class="row">
            			<div class="col-md-12">

                			<img class="screen" src="images/client-1-dark.png" srcset="images/client-1-dark@2x.png 2x" alt="Client">


                			<img class="screen" src="images/client-2-dark.png" srcset="images/client-2-dark@2x.png 2x" alt="Client">


                			<img class="screen" src="images/client-3-dark.png" srcset="images/client-3-dark@2x.png 2x" alt="Client">


                			<img class="screen" src="images/client-4-dark.png" srcset="images/client-4-dark@2x.png 2x" alt="Client">


                			<img class="screen" src="images/client-5-dark.png" srcset="images/client-5-dark@2x.png 2x" alt="Client">


                			<img class="screen" src="images/client-7-dark.png" srcset="images/client-7-dark@2x.png 2x" alt="Client">

            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="team-3col" class="pt-125 pb-125 text-center light">
    			<div class="container" style="">
        			<h2 class="mb-25"><span class="text-uppercase"><strong>Staff</strong></span></h2>
        			<h3 class="mb-75">Professionalism &amp; Respect</h3>
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<img class="screen mb-25" src="images/photo-14.png" srcset="images/photo-14@2x.png 2x" alt="team member">
                    			<h3 class="mb-10"><strong>Nataly Finigan</strong></h3>
                    			<h4 class="mb-25">Chef</h4>
                    			<p class="mb-25">It was a humorously perilous business for both of us. For, before we proceed further. I have hinted that I would often jerk poor Queequeg from between the whale.</p>
                    			<ul class="social-list">
                        			<li>
                            			<a href="#"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a href="#"><i class="icon-facebook icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a href="#"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<img class="screen mb-25" src="images/photo-15.png" srcset="images/photo-15@2x.png 2x" alt="team member">
                    			<h3 class="mb-10"><strong>Mishel Di Livio</strong></h3>
                    			<h4 class="mb-25">Sous-Chef</h4>
                    			<p class="mb-25">It was a humorously perilous business for both of us. For, before we proceed further. I have hinted that I would often jerk poor Queequeg from between the whale.</p>
                    			<ul class="social-list">
                        			<li>
                            			<a href="#"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a href="#"><i class="icon-facebook icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a href="#"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<img class="screen mb-25" src="images/photo-16.png" srcset="images/photo-16@2x.png 2x" alt="team member">
                    			<h3 class="mb-10"><strong>Sarah Donovan</strong></h3>
                    			<h4 class="mb-25">Head Waiter</h4>
                    			<p class="mb-25">It was a humorously perilous business for both of us. For, before we proceed further. I have hinted that I would often jerk poor Queequeg from between the whale.</p>
                    			<ul class="social-list">
                        			<li>
                            			<a href="#"><i class="icon-twitter icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a href="#"><i class="icon-facebook icon-size-m icon-color"></i></a>
                        			</li>
                        			<li>
                            			<a href="#"><i class="icon-linkedin icon-size-m icon-color"></i></a>
                        			</li>
                    			</ul>
                			</div>
            			</div>
        			</div>
        			<a class="btn btn-default mt-75" href="#"><span>All personal</span></a>
    			</div>
    			<div class="bg"></div>
			</section><section id="contact-img-form" class="pt-125 pb-125 dark text-center">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6">
                			<img class="screen" src="images/food-top-2.png" srcset="images/food-top-2@2x.png 2x" alt="Client">
            			</div>
            			<div class="col-md-4 col-md-offset-1">
                			<h3 class="mb-0" style="overflow: visible;">Book a table</h3>
                			<h2 class="mb-0"><span class="text-uppercase"><strong>1-900-12345678</strong></span></h2>
                			<h3 class="mb-25" contenteditable="true">or use form</h3>
                			<form action="./scripts/request.php" class="contact_form" novalidate="novalidate" id="contact-img-form-form">
                    			<div class="form-group">
                        			<input type="text" class="form-control" placeholder="Full name" name="NAME">
                    			</div>
                    			<div class="form-group">
                        			<input type="email" class="form-control" placeholder="Email Address" name="EMAIL">
                    			</div>
                    			<div class="form-group">
                        			<textarea class="form-control" rows="4" placeholder="Your message or question" name="MESSAGE"></textarea>
                    			</div>
                    			<button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-block btn-primary btn-lg btn-block"><span>Book</span></button>
                			</form>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="contact-center-text-map" class="pt-100 pb-0 text-center light">
    			<div class="container mb-75">
        			<h2 class="mb-25"><span class="text-uppercase"><strong>Contact</strong></span></h2>
        			<h3 class="mb-75">Our location &amp; contacts</h3>
        			<div class="row">
            			<div class="col-md-4">
                			<i class="icon-map-marker icon-size-l icon-color"></i>
                			<h4 class="mt-10">Restaurant address</h4>
            			</div>
            			<div class="col-md-4">
                			<i class="icon-clock3 icon-size-l icon-color"></i>
                			<h4 class="mt-10">Mon - Fri 9:00 - 23:00</h4>
            			</div>
            			<div class="col-md-4">
                			<i class="icon-mailbox-full icon-size-l icon-color"></i>
                			<h4 class="mt-10">food@mail.com</h4>
            			</div>
        			</div>
    			</div>
    			<div class="container-fluid">
        			<div class="row no-side-pad">
            			<div class="col-md-12">
                			<div id="contact-center-text-map-map" class="g-map light pb-300"></div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-text-logo-share" class="pt-50 pb-50 dark">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<p>© Multifour.com. All rights reserved.</p>
                			<p><a href="#">Terms</a> | <a href="#">About</a> | <a href="#">We’re hiring</a></p>
            			</div>
            			<div class="col-md-2 text-center">
                			<img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="logo">
            			</div>
            			<div class="col-md-5 text-md-right">
                			<ul class="share-list">
                    			<li>
                        			<a href="#" class="goodshare" data-type="fb"><i class="icon-facebook"></i><span>Share</span><span data-counter="fb"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="tw"><i class="icon-twitter"></i><span>Tweet</span><span data-counter="tw"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="gp"><i class="icon-google-plus"></i><span>Share</span><span data-counter="gp"></span></a>
                    			</li><li>
                        			<a href="#" class="goodshare" data-type="li"><i class="icon-linkedin"></i><span>Share</span><span data-counter="li"></span></a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>