#header-form-slogan-2 {
	background: #4f3f38;
}

#header-form-slogan-2 .bg {
	background-image: url('../images/bg-work-2.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: center bottom;
	opacity: 0.1;
}
#desc-img-text-3col-2 {
	background: #4f3f38;
}
#desc-img-text-3col-2 .bg {
	background-image: url('../images/bg-blur-5.jpg');
	background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-repeat: no-repeat;
	background-position: bottom center;
	opacity: 0.08;
}
#action-text-btn {
    background: #222222;
}#popup-halfbg-form .half-container-left {
	background-image: url('../images/bg-work-2.jpg');
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
}
