<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>App 5</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="dark-page">
	<div id="preloader"><div class="battery"><div class="load-line"></div></div></div>
<nav id="nav-center-logo-menu-social" class="navbar dark navbar-fixed-top nav-start-hide-bg">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="Your logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-center">
                <li class=""><a href="#desc-text-img-img" target="_self" class="smooth"><span>About</span></a></li>
                <li class=""><a href="#benefit-center-text-img-text-2" target="_self" class="smooth"><span>Screenshots</span></a></li>
                <li class=""><a href="#benefit-5col-2row" target="_self" class="smooth"><span>Stories</span></a></li>
            </ul>
            <ul class="social-list navbar-right">
                <li>
                    <a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-behance icon-size-m"></i></a>
                </li>
                <li>
                    <a href="#"><i class="icon-envelope-o icon-size-m"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-img-slogan-btn-2" class="pt-75 pb-0 dark text-center">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5 col-md-push-6">
                			<img src="images/logo2-light-big.png" srcset="images/logo2-light-big@2x.png 2x" alt="Screen" class="screen mb-50">
                			<h1 class="mb-25"><strong>Good</strong> app</h1>
                			<h3 class="mb-75">Only the most modern, convenient and interesting solutions</h3>
                			<a href="#" class="btn btn-default btn-lg"><span><strong>Download</strong> App</span></a>
            			</div>
            			<div class="col-md-6 col-md-pull-5">
                			<img src="images/mockup-iphone7-angle-half-jet.png" srcset="images/mockup-iphone7-angle-half-jet@2x.png 2x" alt="Screen" class="screen mt-50" data-aos="slide-up" data-aos-easing="none" data-aos-duration="800" data-aos-delay="0" data-aos-once="true">
            			</div>
        			</div>
    			</div>
    			<div class="bg parallax-bg" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</header><section id="desc-text-img-img" class="dark pt-125 pb-75 text-center">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-4 col-md-offset-1">
                			<h2 class="mb-50">Innovations</h2>
                			<p class="mb-50">Do you want to create a new project or to update the previous one? So, this template will match you ideally. Innovative solutions and simple mathematically calculated design make it actual for a long time</p>
                			<img src="images/badge-app-1.png" srcset="images/badge-app-1@2x.png 2x" alt="Badge" class="screen">
                			<img src="images/badge-app-2.png" srcset="images/badge-app-2@2x.png 2x" alt="Badge" class="screen">
            			</div>
            			<div class="col-md-6 col-md-offset-1 text-center">
                			<img src="images/mockup-iphone7-isometric-jet.png" srcset="images/mockup-iphone7-isometric-jet@2x.png 2x" alt="Screen" class="screen" data-aos="slide-up" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="0">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="benefit-center-text-img-text-2" class="dark pt-50 pb-125 text-center">
    			<div class="container">
        			<h2>Benefits</h2>
        			<h3 class="mb-50">Convenient and simple solutions</h3>
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-4 col-md-push-4">
                			<img src="images/mockup-iphone7-jet.png" srcset="images/mockup-iphone7-jet@2x.png 2x" alt="Screen" class="screen" data-aos="slide-up" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="0">
            			</div>
            			<div class="col-md-4 col-md-pull-4 text-md-right">
                			<div class="card card-row-reverse">
                    			<i class="icon-laptop-phone icon-size-l icon-color card-icon"></i>
                    			<div class="card-block">
                        			<h4>Responsive Design</h4>
                        			<p>Your project looks great on any device. Content can be easily read and a user understands freely what you wanted to say
                        			</p>
                    			</div>
                			</div>
                			<div class="card card-row-reverse">
                    			<div><i class="icon-window icon-size-l icon-color card-icon"></i></div>
                    			<div class="card-block">
                        			<h4>Pure &amp; Simple</h4>
                        			<p>Nothing should lead the visitor away from the main essence of website. There must be just important information
                        			</p>
                    			</div>
                			</div>
                			<div class="card card-row-reverse">
                    			<i class="icon-cloud-fog icon-size-l icon-color card-icon"></i>
                    			<div class="card-block">
                        			<h4>Sync data on cloud</h4>
                        			<p>This template provides you a broad spectrum of intro blocks. Animation, image slider, video, effects for slogan
                        			</p>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 text-md-left">
                			<div class="card card-row">
                    			<i class="card-icon icon-pencil-ruler icon-size-l icon-color"></i>
                    			<div class="card-block">
                        			<h4 class="">Great Flexibility</h4>
                        			<p>The given template is armed with the number of settings, so you can easily adapt it according to your targets
                        			</p>
                    			</div>
                			</div>
                			<div class="card card-row">
                    			<i class="icon-city icon-size-l icon-color card-icon"></i>
                    			<div class="card-block">
                        			<h4>Multiplatform</h4>
                        			<p class="">The page is adapted to the most of the popular platform in segment. All you need to do is to choose your variant
                        			</p>
                    			</div>
                			</div>
                			<div class="card card-row">
                    			<i class="icon-cli icon-size-l icon-color card-icon"></i>
                    			<div class="card-block">
                        			<h4>Innovations</h4>
                        			<p>Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting
                        			</p>
                    			</div>
                			</div>
            			</div>
        			</div>
        			<a href="#" class="btn btn-default mt-50"><span>Download App</span></a>
    			</div>
    			<div class="bg parallax-bg skrollable-before" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</section><section id="desc-text-img-3" class="pt-150 pb-150 dark text-center">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-5 col-md-offset-1">
                			<h2 class="mb-25">John Van Snow</h2>
                			<h3 class="mb-50">Creative leader</h3>
                			<p class="mb-50">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for such a long time as it is possible. Our elements have no excessive gloss, but they are always actual</p>
                			<img src="images/sign.png" srcset="images/sign@2x.png 2x" alt="Badge" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="video-center-icon-text" class="pt-50 pb-50 dark text-center">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12 flex-md-center">
                			<i class="icon-play-circle-solid icon-size-l icon-color"></i>
                			<a href="https://vimeo.com/123395658" class="single-iframe-popup">
                    			<h3 class="inline-h">Watch video</h3>
                			</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg parallax-bg skrollable-before" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</section><section id="benefit-5col-2row" class="dark pt-125 pb-125 text-center sep-b">
    			<div class="container">
        			<h2 class="mb-25">Benefits</h2>
        			<h3 class="mb-75">Convenient and simple solutions</h3>
        			<div class="row">
            			<div class="col-md-20">
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-pencil-ruler2 icon-color mb-20"></i>
                    			<h4 class="">Flexibility</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-gift icon-color mb-20"></i>
                    			<h4>Innovations</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
            			</div>
            			<div class="col-md-20">
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-server icon-color mb-20"></i>
                    			<h4>Multiplatform</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-laptop-phone icon-color mb-20"></i>
                    			<h4>Responsive</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
            			</div>
            			<div class="col-md-20">
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-window icon-color mb-20"></i>
                    			<h4>Pure design</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-document icon-color mb-20"></i>
                    			<h4>Documentation</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
            			</div>
            			<div class="col-md-20">
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-heart icon-color mb-20"></i>
                    			<h4>The Heart</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-wallet icon-color mb-20"></i>
                    			<h4>New level</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
            			</div>
            			<div class="col-md-20">
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-drop2 icon-color mb-20"></i>
                    			<h4>Color tools</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
                			<div class="card card-simple">
                    			<i class="card-icon icon-size-l icon-files icon-color mb-20"></i>
                    			<h4>Fresh pages</h4>
                    			<p class="desc-text">Here are several causes that make our template worth paying attention</p>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-text-img-btn" class="pt-100 pb-0 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-4">
                			<p class="mb-50">© Multifour.com. <br>All rights reserved.</p>
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
            			<div class="col-md-4 text-center">
                			<img src="images/mockup-iphone7-top-jet.png" srcset="images/mockup-iphone7-top-jet@2x.png 2x" alt="Screen" class="screen" data-aos="slide-up" data-aos-easing="none" data-aos-duration="500" data-aos-delay="0">
            			</div>
            			<div class="col-md-4 text-md-right">
               			<h3 class="mb-50">Download App today and get <strong>20% discount</strong></h3>
                			<a class="btn btn-default" href="#">Download app</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/skrollr.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>