<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Shop</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="location_indicator"></div></div>
		<div id="wrap">
			<header id="header-slogan-btn-2" class="pt-150 pb-0 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<h2 class="mb-30"><strong>Innovative solutions and <br> simple mathematically calculated design</strong></h2>
                			<h4 class="mb-75">Elegant backgrounds and objects<br> animation, attention to details</h4>
                			<a href="#" class="btn btn-default btn-lg"><span>Download App</span></a>
            			</div>
            			<div class="col-md-12 text-md-right">
            			<img src="images/bags.png" srcset="images/bags@2x.png 2x" alt="mockup" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="gallery-list-3col-2" class=" pt-125 pb-125 light text-left">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8">
                			<h2 class="mb-25"><strong>New collection</strong></h2>
                			<p class="mb-75">In our work we try to use only the most modern, convenient and interesting solutions. 
                We want the template you downloaded look unique and new for such a long time as it is possible</p>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<a href="#" class="btn-default btn btn-lg mb-40">View all</a>
            			</div>
        			</div>
        			<div class="row gallery">
            			<div class="col-md-4">
                			<a href="images/product-1.jpg" class="gallery-box gallery-style-2">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>T-Shirt White</strong></span>
                    			<span class="desc">$19.99</span>
                    			<img src="images/product-1.jpg" alt="screen">
                			</a>
                			<a href="images/product-2.jpg" class="gallery-box gallery-style-2">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Gift Certificate</strong></span>
                    			<span class="desc"><del>$20.00</del> $9.99</span>
                    			<img src="images/product-2.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-4">
                			<a href="images/product-3.jpg" class="gallery-box gallery-style-2">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Eco Bag</strong></span>
                    			<span class="desc"><del>$25.00</del> $14.99</span>
                    			<img src="images/product-3.jpg" alt="screen">
                			</a>
                			<a href="images/product-4.jpg" class="gallery-box gallery-style-2">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Sweetshirt</strong></span>
                    			<span class="desc">$24.99</span>
                    			<img src="images/product-4.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-4">
                			<a href="images/product-5.jpg" class="gallery-box gallery-style-2">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>T-Shirt</strong></span>
                    			<span class="desc">$9.99</span>
                    			<img src="images/product-5.jpg" alt="screen">
                			</a>
                			<a href="images/product-6.jpg" class="gallery-box gallery-style-2">
                    			<i class="icon icon-size-m icon-plus"></i>
                    			<span class="caption"><strong>Brand T-Shirt</strong></span>
                    			<span class="desc">$21.99</span>
                    			<img src="images/product-6.jpg" alt="screen">
                			</a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="action-right-text-btn" class="pt-100 pb-100 text-right light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<h3 class="mb-30"><span class="text-uppercase">Fast question</span></h3>
                			<h2 class="mb-75"><strong>Modern solutions, interesting elements, unique approach to details make templates recognizable and interesting</strong></h2>
                			<a href="#" class="btn btn-lg btn-danger"><span>Disagree</span><i class="icon-position-right icon-cross2 icon-size-m"></i></a><a href="#" class="btn btn-lg btn-success"><span>Agree</span><i class="icon-position-right icon-check icon-size-m"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg parallax-bg skrollable-before" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</section><section id="text-4col" class="pt-150 pb-150 light">
    			<div class="container">
        			<h2 class="mb-75"><strong>Innovative solutions <br>and simple mathematically calculated design</strong></h2>
        			<div class="row">
            			<div class="col-md-3">
                			<h3>Flexibility</h3>
                			<p class="">So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience.
                			</p>
            			</div>
            			<div class="col-md-3">
                			<h3>Pure design</h3>
                			<p class="">In our work we try to use only the most modern, convenient and interesting solutions. We want the template you downloaded look unique and new for a long time.</p>
            			</div>
            			<div class="col-md-3">
                			<h3 class="">New level</h3>
                			<p class="">Do you want to create a new project or to update the previous one? So, this template will match you ideally. Innovative solutions and simple mathematically calculated design. </p>
            			</div>
            			<div class="col-md-3">
                			<h3>Modern solutions</h3>
                			<p>Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details.</p>
            			</div>
        			</div>
        
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-list-subscribe" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-7">
                			<div class="row">
                    			<div class="col-sm-3">
                        			<h4><strong>Learn more</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Tour</a>
                            			</li>
                            			<li>
                                			<a href="#">Customers</a>
                            			</li>
                            			<li>
                                			<a href="#">Pricing and Plans</a>
                            			</li>
                            			<li class="">
                                			<a href="#">New Features</a>
                            			</li>
                            			<li class="">
                                			<a href="#">Education</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Extras</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Marketplace</a>
                            			</li>
                            			<li class="">
                                			<a href="#">Design</a>
                            			</li>
                            			<li>
                                			<a href="#">Team Sync</a>
                            			</li>
                            			<li class="">
                                			<a href="#">Disruptors</a>
                            			</li>
                            			<li>
                                			<a href="#">Free T-Shirt</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4 class=""><strong>Extras</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Marketplace</a>
                            			</li>
                            			<li>
                                			<a href="#">Design</a>
                            			</li>
                            			<li>
                                			<a href="#">Team Sync</a>
                            			</li>
                            			<li>
                                			<a href="#">Disruptors</a>
                            			</li>
                            			<li>
                                			<a href="#">Free T-Shirt</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Extras</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Marketplace</a>
                            			</li>
                            			<li>
                                			<a href="#">Design</a>
                            			</li>
                            			<li>
                                			<a href="#">Team Sync</a>
                            			</li>
                            			<li>
                                			<a href="#">Disruptors</a>
                            			</li>
                            			<li>
                                			<a href="#">Free T-Shirt</a>
                            			</li>

                        			</ul>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 col-md-offset-1">
                			<h4 class="">Newsletter</h4>
                			<form action="./scripts/request.php" class="contact_form form-inline form-flex" novalidate="novalidate" id="footer-list-subscribe-form">
                    			<div class="form-group"><input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" size="10"></div><button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-link"><span>GO</span></button>
                			</form>
                			<small class="desc-text small">Follow us in social networks. You can also subscribe for our news. We are going to provide you with actual and important for you information without spam or fluff.</small>
            			</div>
        			</div>
        			<hr class="mt-50 mb-50">
        			<div class="row">
            			<div class="col-md-6">
                			<p>© Multifour.com.
                    			<br>All rights reserved.</p>
            			</div>
            			<div class="col-md-6 text-md-right">
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-github-alt icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-pinterest-p icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-instagram icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-youtube icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/skrollr.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>