<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Product 2</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="loading-round-border"></div></div>
		<div id="wrap">
			<header id="header-slogan-border" class="pt-150 pb-150 text-center light">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6">
                			<div class="border-box padding-box mb-50" style="border-color:#222;" data-aos="zoom-in" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="0" data-aos-once="true">
                    			<h1 class=""><span class="text-uppercase"><strong>New technology</strong> old price</span></h1>
                			</div>
                			<p data-aos="fade" data-aos-easing="none" data-aos-once="true" data-aos-duration="500" data-aos-delay="500">In our work we try to use only the most modern and interesting solutions</p>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="desc-threequartbg-text-btn" class="pt-md-100 pb-100 dark text-center">
   			<div class="threequarter-container-left"></div>
    			<div class="container-fluid">
        			<div class="row">
            			<div class="col-md-3 col-md-offset-9">
                			<div class="padding-box">
                    			<h2>Camera S</h2>
                    			<p class="mb-50">Innovative solutions and simple mathematically calculated design make it actual for a long time.</p>
                    			<a href="#" class="btn btn-default"><span><strong>Buy — $850</strong></span></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-text-list-quartbg" class="pt-125 pb-md-125 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-4">
                			<h2>Flexible template</h2>
                			<p>Do you want to create a new project or to update the previous one? So, this template will match you ideally. Innovative solutions and simple mathematically calculated design make it actual for a long time.</p>
            			</div>
            			<div class="col-md-3 col-md-offset-1">
                			<ul class="text-icon-list text-icon-list-sep">
                    			<li class="clearfix"><i class="icon-zoom-in icon-color icon-size-m icon-position-left"></i>
                        			<span>Zoom</span>
                        			<span class="pull-right">x20</span>
                    			</li>
                    			<li class="clearfix"><i class="icon-battery-mid1 icon-color icon-size-m icon-position-left"></i>
                        			<span>Battery</span>
                        			<span class="pull-right">Lithium-ion</span>
                    			</li>
                    			<li class="clearfix"><i class="icon-frame-expand icon-color icon-size-m icon-position-left"></i>
                        			<span>Megapixels</span>
                        			<span class="pull-right">25 MP</span>
                    			</li>
                    			<li class="clearfix"><i class="icon-cable icon-color icon-size-m icon-position-left"></i>
                        			<span>Connectivity</span>
                        			<span class="pull-right">USB</span>
                    			</li>
                    			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                        			<span>Price</span>
                        			<span class="pull-right">$899</span>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="quarter-container-right"></div>
    			<div class="bg"></div>
			</section><section id="desc-full-halfbg-text-btn" class="pt-200 pb-md-200 light">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="col-md-4 col-md-offset-7">
                			<div class="content-box">
                    			<h2>Multiplatform</h2>
                    			<p class="mb-50">The page is adapted to the most of the popular platform in segment. All you need to do is to choose your variant and start working.</p>
                    			<a href="#" class="btn btn-default"><span>Read more</span><i class="icon-arrow-right icon-position-right"></i></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="half-container-left"></div>
    			<div class="bg"></div>
			</section><section id="desc-full-text-btn-halfbg" class="pt-200 pb-md-200 dark">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="col-md-4 col-md-offset-1">
                			<h2>New level</h2>
                			<p class="mb-50">Do you want to create a new project or to update the previous one? So, this template will match you ideally. Innovative solutions and simple mathematically calculated design make it actual for a long time.</p>
                			<a href="#" class="btn btn-default"><span>Read more</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="half-container-right"></div>
    			<div class="bg"></div>
			</section><section id="gallery-full-list-4col" class="pt-75 pb-75 text-center light">
    			<div class="container-fluid pad-x2">
       
        			<h2 class="mb-75">Accessories</h2>

        			<div class="row gallery">
            			<div class="col-md-3">
                			<a href="images/product-9.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>Camera S</strong></span>
                    			<img src="images/product-9.jpg" alt="screen">
                			</a>
                			<a href="images/product-10.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>PowerBank</strong></span>
                    			<img src="images/product-10.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/product-11.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>Headphones</strong></span>
                    			<img src="images/product-11.jpg" alt="screen">
                			</a>
                			<a href="images/product-12.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>Glasses</strong></span>
                    			<img src="images/product-12.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/product-13.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>Keyboard</strong></span>
                    			<img src="images/product-13.jpg" alt="screen">
                			</a>
                			<a href="images/product-14.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>Camera</strong></span>
                    			<img src="images/product-14.jpg" alt="screen">
                			</a>
            			</div>
            			<div class="col-md-3">
                			<a href="images/product-15.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>Mouse</strong></span>
                    			<img src="images/product-15.jpg" alt="screen">
                			</a>
                			<a href="images/product-16.jpg" class="gallery-box gallery-style-4">
                    			<span class="caption"><strong>TouchPad</strong></span>
                    			<img src="images/product-16.jpg" alt="screen">
                			</a>
            			</div>
        			</div>
        			<p class="mt-75">In our work we try to use only the most modern, convenient and interesting solutions. <br> We want the template you downloaded look unique and new for such a long time as it is possible</p>
        			<a href="#" class="btn btn-default mt-50 ">View all offers</a>
    			</div>
    			<div class="bg"></div>
			</section><section id="action-center-text-btn-3" class="pt-100 pb-100 text-center dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12 flex-md-center">
               			<h2 class="inline-h" data-aos="fade-right" data-aos-easing="none" data-aos-duration="500" data-aos-delay="0"><strong>Don't miss your chance</strong></h2>
                			<a class="btn btn-success btn-lg" href="#" data-aos="fade-left" data-aos-easing="none" data-aos-duration="500" data-aos-delay="0"><span><strong>Buy – $899</strong></span></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-fluid-text-icon-social" class="pt-50 pb-50 dark">
    			<div class="container-fluid pad-x2">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-4">
                			<p>© Multifour.com. All rights reserved.</p>
            			</div>
            			<div class="col-md-4 text-center">
                			<a href="#header-slogan-border" class="icon-arrow-up-circle icon-size-l icon-color smooth" target="_self"><i></i></a>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-github-alt icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>