<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Service 7</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="loading-round-border"></div></div>
		<div id="wrap">
			<section id="header-center-carousel-single" class="pt-150 pb-150 dark text-center">
    			<div class="carousel-single-nav owl-drag"><div class="item container">
            			<img src="images/logo2-light-big.png" srcset="images/logo2-light-big@2x.png 2x" alt="" class="screen mb-50">
            			<h1 class="mb-50"><strong>Innovative solutions</strong> <br>and simple design</h1>
            			<p class="mb-50 compressed-box-50">I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody.
            			</p>
        			</div><div class="item container">
            			<h1 class="mb-0 mt-50"><strong>Live tutorial</strong></h1>
            			<h2 class="mb-50">with complete documentation</h2>
            			<a href="https://vimeo.com/123395658" class="single-iframe-popup icon-play-circle-solid icon-size-xl icon-color"><i></i></a>
            			<p class="mt-50 compressed-box-50">I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody.
            			</p>
        			</div><div class="item container">
            			<h1 class="mb-50 mt-30"><strong>Awesome</strong> features<br> &amp; absolute flexibility</h1>
            			<p class="mb-50 compressed-box-50">I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody.
            			</p>
            			<a href="#" class="btn btn-lg btn-primary"><i class="icon-arrow-down icon-size-m icon-position-left"></i><span>View more</span></a>
        			</div></div>
    			<div class="bg"></div>
			</section><section id="benefit-center-text-3col" class="light pt-100 pb-100 text-center sep-b">
    			<div class="container">
        
        
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<img src="images/tablet-pic.png" srcset="images/tablet-pic@2x.png 2x" alt="Screen" class="screen mb-50">
                    			<h3 class="">Mobile app</h3>
                    			<p class="mb-50">Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting
                    			</p>
                    			<a href="#" class="btn btn-default"><span>Download App</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<img src="images/laptop-pic.png" srcset="images/laptop-pic@2x.png 2x" alt="Screen" class="screen mb-50">
                    			<h3 class="">Desktop app</h3>
                    			<p class="mb-50">The page is adapted to the most of the popular platform in segment. All you need to do is to choose your variant and start working</p>
                    			<a href="#" class="btn btn-default"><span>Download App</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<img src="images/sync-pic.png" srcset="images/sync-pic@2x.png 2x" alt="Screen" class="screen mb-50">
                    			<h3 class="">Sync software</h3>
                    			<p class="mb-50">Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money</p>
                    			<a href="#" class="btn btn-default"><span>Download App</span></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg parallax-bg skrollable-after" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</section><section id="action-center-text-btn-img" class=" light pt-100 pb-0 text-center">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                
                			<h4 class="mb-75">The page is adapted to the most of the popular platform in segment. <br>All you need to do is to choose your variant and start working</h4>
                			<div>
                    
                    
                			</div>
                			<img src="images/mockup-iphone7-horizontal-top-silver.png" srcset="images/mockup-iphone7-horizontal-top-silver@2x.png 2x" alt="" class="screen mt-0" style="">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="action-center-text-btn-3" class="pt-100 pb-100 text-center dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12 flex-md-center">
               			<h2 class="inline-h"><strong>Don't miss your chance</strong></h2>
                			<a class="btn btn-primary btn-lg" href="http://localhost/suprapagebuilder/main.html#"><span><strong>Contact Us</strong></span></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="testimonials-center-single" class=" light pt-125 pb-125 text-center">
    			<div class="container">
         			<div class="card card-simple">
            			<span class="mb-25 icons-row">
                			<i class="icon-star-fill icon-size-l icon-color"></i><i class="icon-star-fill icon-size-l icon-color"></i><i class="icon-star-fill icon-size-l icon-color"></i><i class="icon-star-fill icon-size-l icon-color"></i><i class="icon-star-fill icon-size-l icon-color"></i>
            			</span>
            			<p class="lead">I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody.</p>
            			<div class="card-author">
                			<img src="images/photo-small-1.png" srcset="images/photo-small-1@2x.png 2x" alt="" class="img-circle">
                			<small>Tom Clancy</small>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="team-2col-2row-2" class="pt-125 pb-125 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<h2 class="">Our team</h2>
                			<h4 class="mb-75">In our work we try to use only the most modern, convenient and interesting solutions.</h4>
            			</div>
            			<div class="col-md-6">
                			<div class="card card-row">
                    			<img class="screen" src="images/team-1.jpg" alt="team member" style="width:180px">
                    			<div class="card-block">
                        			<h3 class="mb-10">Michael Smith</h3>
                        			<p>Head doctor</p>
                        			<hr>
                        			<ul class="social-list">
                            			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                        			</ul>
                    			</div>
                			</div>
                			<div class="card card-row">
                    			<img class="screen" src="images/team-3.jpg" alt="team member" style="width:180px">
                    			<div class="card-block">
                        			<h3 class="mb-10">Laura O'Neil</h3>
                        			<p>Therapist</p>
                        			<hr>
                        			<ul class="social-list">
                            			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                        			</ul>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-6">
                			<div class="card card-row">
                    			<img class="screen" src="images/team-2.jpg" alt="team member" style="width:180px">
                    			<div class="card-block">
                        			<h3 class="mb-10">Katy Davis</h3>
                        			<p class="">Dentist</p>
                        			<hr>
                        			<ul class="social-list">
                            			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                        			</ul>
                    			</div>
                			</div>
                			<div class="card card-row">
                    			<img class="screen" src="images/team-4.jpg" alt="team member" style="width:180px">
                    			<div class="card-block">
                        			<h3 class="mb-10">Jeremy</h3>
                        			<p>Inspirer</p>
                        			<hr>
                        			<ul class="social-list">
                            			<li><a href="#"><i class="icon-twitter icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-facebook icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-linkedin icon-size-m"></i></a></li>
                            			<li><a href="#"><i class="icon-google-plus icon-size-m"></i></a></li>
                        			</ul>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="price-3col-3" class="pt-100 pb-100 text-center light">
    			<div class="container">
        			<h2 class=""><strong>Our Prices</strong></h2>
        			<h4 class="mb-75">You are very important to us, all information received will always remain confidential.</h4>
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card card-simple padding-box light" style="background-color:#fff">
                    			<img src="images/startup-icon.png" srcset="images/startup-icon@2x.png 2x" alt="Price" class="mb-25 mt-10">
                    			<h4 class="mb-0">Trial</h4>
                    			<h2 class="mb-0"><strong>FREE</strong></h2>
                    			<p class="small desc-text mb-30">for just 1 month</p>
                    			<p class="mb-40">
                        Fully Responsive<br>
                        Clean Design<br>
                        Great Flexibility<br>
                        Free Support
                    			</p>
                    			<a href="#" class="btn btn-default btn-block btn-lg btn-block"><span>Try now</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple padding-box light" style="background-color:#fff">
                    			<img src="images/online-shop-icon.png" srcset="images/online-shop-icon@2x.png 2x" alt="Price" class="mb-30 mt-20">
                    			<h4 class="mb-0">Standard</h4>
                    			<h2 class="mb-0"><strong><mark>$9.99</mark></strong></h2>
                    			<p class="small desc-text mb-30">per month</p>
                    			<p class="mb-40">
                        Fully Responsive<br>
                        Clean Design<br>
                        Great Flexibility<br>
                        Free Support
                    			</p>
                    			<a href="#" class="btn btn-primary btn-block btn-lg btn-block"><span>Buy now</span></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple padding-box light" style="background-color:#fff">
                    			<img src="images/safebox-icon.png" srcset="images/safebox-icon@2x.png 2x" alt="Price" class="mb-30 mt-20">
                    			<h4 class="mb-0">Platinum</h4>
                    			<h2 class="mb-0"><strong>$16.99</strong></h2>
                    			<p class="small desc-text mb-30">per month</p>
                    			<p class="mb-40">
                        Fully Responsive<br>
                        Clean Design<br>
                        Great Flexibility<br>
                        Free Support
                    			</p>
                    			<a href="#" class="btn btn-primary btn-block btn-lg btn-block"><span>Buy now</span></a>
                			</div>
            			</div>
        			</div>

        			<p class="desc-text compressed-box-75 small mt-50">If an eligible item that you’ve bought online doesn’t arrive, or doesn’t match the seller’s description, PayPal's Buyer Protection may reimburse you for the full amount of the item plus postage. Buyer Protection can cover your eligible online purchases, on eBay or on any other website, when you use PayPal. Conditions apply.</p>

    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-list-text" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8">
                			<div class="row">
                    			<div class="col-sm-4">
                        			<h4><strong>Learn more</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Pricing and Plans</a>
                            			</li>
                            			<li>
                                			<a href="#">Customers care association</a>
                            			</li>
                            			<li>
                                			<a href="#">New features &amp; benefits</a>
                            			</li>
                            			<li>
                                			<a href="#">Company education</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-5">
                        			<h4><strong>About</strong></h4>
                        			<p>The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.</p>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Social</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<i class="icon-facebook icon-position-left"></i><span><a href="#">Facebook</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-twitter icon-position-left"></i><span><a href="#">Twitter</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-instagram icon-position-left"></i><span><a href="#">Instagram</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-linkedin icon-position-left"></i><span><a href="#">Linkedin</a></span>
                            			</li>
                        			</ul>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<img src="images/banner-rect.png" srcset="images/banner-rect@2x.png 2x" alt="banner" class="screen">
            			</div>
        			</div>
        			<hr class="mt-50 mb-50">
        			<div class="row">
            			<div class="col-md-6">
                			<p>© Multifour.com.
                    			<br>All rights reserved.</p>
            			</div>
            			<div class="col-md-6 text-md-right">
                			<img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="logo" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/skrollr.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>