<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Inner</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
    <body class="light-page">
<nav id="nav-logo-menu" class="navbar dark">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Your logo"></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><i class="icon-briefcase icon-position-left"></i><span>Services</span></a></li>
                <li><a href="#"><i class="icon-camera2 icon-position-left"></i><span>Gallery</span></a></li>
                <li><a href="#"><i class="icon-compass2 icon-position-left"></i><span>Location</span></a></li>
                <li><a href="#"><i class="icon-bubble-question icon-position-left"></i><span>FAQ</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-slogan-btn" class="dark pt-100 pb-100 text-left">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-9">
                			<h1><strong>News</strong> &amp; Updates</h1>
            			</div>
            			<div class="col-md-3">
                			<a href="#" class="btn btn-default btn-block"><i class="icon-arrow-left icon-size-m icon-position-left"></i><span>View all news</span></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg skrollable-before"></div>
			</header><section id="spec-inner-page" class="pb-125 pt-100 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-9">
                			<h2><strong>Secret of successful template.</strong></h2>

                			<ul class="list-inline desc-text mb-50">
                    			<li><i class="icon-user icon-position-left"></i><span>John Doe</span></li>
                    			<li><i class="icon-calendar-empty icon-position-left"></i><span>16 april 2016</span></li>
                			</ul>

                			<img src="images/bg-9.jpg" alt="chart" class="screen mb-25">
                			<p class="mb-25">So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. You project will not look like a template bought in a store and adapted within couple of hours. Oh, no! This is not your case. You obtain qualitative, fascinating and juicy final product that is modern and actual. Friendliness and emotions – these are the main principles of our design. Qualitative and flexible code lays in base of this great product. </p>
                			<div class="video-iframe embed-responsive embed-responsive-16by9 mb-25">
                    			<iframe src="https://player.vimeo.com/video/149850024?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" allowfullscreen=""></iframe>
                			</div>
                			<p>UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. You project will not look like a template bought in a store and adapted within couple of hours. Oh, no! This is not your case. You obtain qualitative, fascinating and juicy final product that is modern and actual. Friendliness and emotions – these are the main principles of our design.</p>

                			<ul class="share-list mt-50">
                    			<li>
                        			<a href="#" class="goodshare" data-type="fb"><i class="icon-facebook"></i><span>Share</span><span data-counter="fb"></span></a>
                    			</li>
                    			<li>
                        			<a href="#" class="goodshare" data-type="tw"><i class="icon-twitter"></i><span>Tweet</span><span data-counter="tw"></span></a>
                    			</li>
                    			<li>
                        			<a href="#" class="goodshare" data-type="gp"><i class="icon-google-plus"></i><span>Share</span><span data-counter="gp"></span></a>
                    			</li>
                    			<li>
                        			<a href="#" class="goodshare" data-type="li"><i class="icon-linkedin"></i><span>Share</span><span data-counter="li"></span></a>
                    			</li>
                    			<li>
                        			<a href="#" class="goodshare" data-type="pt"><i class="icon-pinterest-p"></i><span>Share</span><span data-counter="pt"></span></a>
                    			</li>
                			</ul>
            			</div>
            			<div class="col-md-3">
                			<div class="widget">
                    			<h3><mark>Recent posts</mark></h3>
                    			<hr>

                    			<ul class="post-list">
                        			<li>
                            			<span><a href="#">Simple method how to increase your revenue.</a></span>
                            			<ul class="list-inline post-desc">
                                			<li><small>John Doe</small></li>
                                			<li><small>10 March 2016</small></li>
                            			</ul>
                        			</li>
                        			<li>
                            			<span><a href="#">Qualitative and flexible code lays in base of this great product.</a></span>
                            			<ul class="list-inline post-desc">
                                			<li><small>John Doe</small></li>
                                			<li><small>10 March 2016</small></li>
                            			</ul>
                        			</li>
                        			<li>
                            			<span><a href="#">Emotions that causes your project in visitor are no less important ticket to success.</a></span>
                            			<ul class="list-inline post-desc">
                                			<li><small>John Doe</small></li>
                                			<li><small>10 March 2016</small></li>
                            			</ul>
                        			</li>
                    			</ul>

                			</div>
                			<div class="widget border-box padding-box">
                    			<p>Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting.</p>
                			</div>

                			<div class="widget">
                    			<img class="screen" src="images/banner.png" srcset="images/banner@2x.png 2x" alt="banner">
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-logo-social" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-6 col-md-push-6 text-md-right">
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-github-alt icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-pinterest-p icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-instagram icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-youtube icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
            			<div class="col-md-6 text-md-left col-md-pull-6">
                			<div class="clearfix">
                   			<img src="images/logo.png" srcset="images/logo@2x.png 2x" alt="Your logo" class="pull-left-md">
                    			<div class="pull-left-md"><span>© Multifour.com.<br>All rights reserved.</span></div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>