<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Service 8</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
	</head>
    <body class="light-page">
<nav id="nav-logo-2row-2" class="navbar dark navbar-fixed-top nav-start-hide-bg">
    <div class="container">
        <div class="clearfix">   
            <ul class="text-icon-list list-inline navbar-text pull-left">
                    <li><i class="icon-map-marker icon-color"></i><span>4 Address str.</span></li>
                    <li><i class="icon-phone-incoming icon-color"></i><span>1(867)1243543</span></li>
                    <li><i class="icon-clock icon-color"></i><span>9:00 - 18:00</span></li>
                </ul>
            <div class="btn-group pull-right hidden-xs">
                <a href="#" class="btn btn-sm btn-default navbar-btn">Login</a>
                <a href="#" class="btn btn-sm btn-primary navbar-btn">Register</a>
            </div>
        </div>
        <hr class="mt-0 mb-0" style="opacity: 0.5">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand"><img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="Your logo"></div>
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 0px;">
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="#chart-vert-single-2" target="_self" class="smooth"><span>Services</span></a></li>
                <li class=""><a href="#clients-4col-3row-text" target="_self" class="smooth"><span>Gallery</span></a></li>
                <li class=""><a href="#footer-list-text" target="_self" class="smooth"><span>Location</span></a></li>
                <li class=""><a href="#desc-accordion-2col" target="_self" class="smooth"><span>FAQ</span></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bg dark"></div>
</nav>		<div id="wrap">
			<header id="header-logo-slogan-cards" class="dark pt-200 pb-150 text-left">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                
                			<h1 class="mb-40">Innovative solutions and design</h1>
                
                			<h3 class="mb-75 mt-40">So, what is the secret of successful template design?<br> First of all, it is its friendliness.</h3>
            			</div>
            			<div class="col-md-4">
                			<div class="card light">
                    			<img src="images/card-bg-1.jpg" class="card-img" alt="">
                    			<div class="card-img-overlay-bottom">
                        			<h3>Technology</h3>
                        			<p class="mb-20">Emotions that causes your project in visitor are no less important ticket to success</p>
                        			<a class="btn btn-default btn-sm" href="#"><span>Read more</span></a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card">
                    			<img src="images/card-bg-2.jpg" class="card-img" alt="">
                    			<div class="card-img-overlay-bottom">
                        			<h3 class="">New design</h3>
                        			<p class="mb-20">Emotions that causes your project in visitor are no less important ticket to success</p>
                        			<a class="btn btn-default btn-sm" href="#"><span>Read more</span></a>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card light">
                    			<img src="images/card-bg-3.jpg" class="card-img" alt="">
                    			<div class="card-img-overlay-bottom">
                        			<h3>Flexibility</h3>
                        			<p class="mb-20">Emotions that causes your project in visitor are no less important ticket to success</p>
                        			<a class="btn btn-default btn-sm" href="#"><span>Read more</span></a>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="chart-vert-single-2" class=" pt-150 pb-150 light text-left">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<h2 class="mb-50">Innovative solutions <br>and simple mathematically calculated design</h2>
                			<div class="border-box padding-box mb-40">
                    			<h4 class="">Income growth in 2016</h4>
                    			<div class="flex-vert-box flex-vert-around" style="height:401px; background-image: url('images/bg-pattern-line-horiz.png'); background-size: 1px 10px; background-repeat: repeat;">
                        			<div class="chart-line dark" style="background-color: #ff6060; height: 10%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="0"><small class=""><strong>10</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #ff8560; height: 20%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="100"><small class=""><strong>20</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #ff8f3d; height: 30%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="200"><small class=""><strong>30</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #ffb43d; height: 40%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="300"><small class=""><strong>40</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #ffda3d; height: 50%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="400"><small><strong>50</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #fff03d; height: 60%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="500"><small class=""><strong>60</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #daff3d; height: 70%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="600"><small><strong>70</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #adff3d; height: 80%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="700"><small><strong>80</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #79ff3d; height: 90%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="800"><small class=""><strong>90</strong>%</small></div>
                        			<div class="chart-line dark" style="background-color: #3dff53; height: 100%;" data-aos="stretch-bottom" data-aos-easing="ease-out-back" data-aos-duration="500" data-aos-delay="900"><small><strong>100</strong>%</small></div>
                        			<div class="flex-horiz-box flex-horiz-around" style="height: 100%">
                            			<p class="small mb-0"><strong>100k</strong></p>
                            			<p class="small mb-0"><strong>60k</strong></p>
                            			<p class="small mb-0"><strong>20k</strong></p>
                        			</div>
                    			</div>
                    			<div class="flex-vert-box flex-vert-around mt-30">
                        			<p class="mb-0">Spring</p>
                        			<p class="mb-0">Summer</p>
                        			<p class="mb-0">Autumn</p>
                        			<p class="mb-0">Winter</p>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-12">
                			<p class="mb-40">Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. You project will not look like a template bought in a store and adapted within couple of hours. </p>
                			<a href="#" class="btn btn-default"><span>Meet our team</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-text-btn-img-anim" class=" dark pt-150 pb-150 text-left">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<h2 class="mb-50">Flexibility</h2>
                			<p class="mb-50">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.
                			</p>
                			<a href="#" class="btn btn-default"><span>Try demo</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
            			<div class="col-md-6 col-md-offset-1">
                			<div class="anim-box" style="padding-top:20%;">
                    			<img src="images/glass.png" srcset="images/glass@2x.png 2x" alt="Screen" class="screen" data-aos="fade-down" data-aos-easing="ease-out-back" data-aos-duration="600" data-aos-delay="800" style="position: absolute; top: 0; left: 10%; width: 80%; z-index:4;">
                    
                    			<img src="images/glass.png" srcset="images/glass@2x.png 2x" alt="Screen" class="screen" data-aos="fade-down" data-aos-easing="ease-out-back" data-aos-duration="600" data-aos-delay="600" style="position: absolute; top: 10%; left: 10%; width: 80%; z-index:3;">
                    
                    			<img src="images/glass.png" srcset="images/glass@2x.png 2x" alt="Screen" class="screen" data-aos="fade-down" data-aos-easing="ease-out-back" data-aos-duration="600" data-aos-delay="400" style="position: absolute; top: 20%; left: 10%; width: 80%; z-index:2;">
                    
                    			<img src="images/mockup-iphone6-isometric-black.png" srcset="images/mockup-iphone6-isometric-black@2x.png 2x" alt="Screen" class="screen" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="0" style="position:relative; z-index:1;">
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-accordion-2col" class=" pt-125 pb-125 light text-left">
    			<div class="container">
        			<h2 class="mb-50">FAQ</h2>
        			<div class="row">
            			<div class="col-md-6 accordion" id="accordion-faq-2" role="tablist" aria-multiselectable="true">
                			<div class="panel">
                    			<a class="panel-heading" data-toggle="collapse" role="button" data-parent="#accordion-faq-2" href="#collapse-faq-2-1" aria-expanded="true">
                        			<h4>Where can I get more information and help?</h4>
                    			</a>
                    			<div id="collapse-faq-2-1" class="panel-collapse collapse in" aria-expanded="true">
                        			<div class="panel-body">
                            			<p class="">Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting. You project will not look like a template bought in a store and adapted within couple of hours. Oh, no! This is not your case. You obtain qualitative, fascinating and juicy final product that is modern and actual. Friendliness and emotions – these are the main principles of our design. Qualitative and flexible code lays in base of this great product.</p>
                        			</div>
                    			</div>
                			</div>
                			<div class="panel">
                    			<a class="panel-heading collapsed" data-toggle="collapse" role="button" data-parent="#accordion-faq-2" href="#collapse-faq-2-2" aria-expanded="false">
                        			<h4>Where can I purchase this template?</h4>
                    			</a>
                    			<div id="collapse-faq-2-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        			<div class="panel-body">
                            			<p>So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success.</p>
                        			</div>
                    			</div>
                			</div>
                			<div class="panel">
                    			<a class="panel-heading collapsed" data-toggle="collapse" role="button" data-parent="#accordion-faq-2" href="#collapse-faq-2-3" aria-expanded="false">
                        			<h4>What are the system requirements?</h4>
                    			</a>
                    			<div id="collapse-faq-2-3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        			<div class="panel-body">
                            			<p>Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things.</p>
                        			</div>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-6 accordion" id="accordion-faq-3" role="tablist" aria-multiselectable="true">
                			<div class="panel">
                    			<a class="panel-heading" data-toggle="collapse" role="button" data-parent="#accordion-faq-3" href="#collapse-faq-3-1" aria-expanded="true">
                        			<h4>Do I need to sign in to use an app?</h4>
                    			</a>
                    			<div id="collapse-faq-3-1" class="panel-collapse collapse in" aria-expanded="true">
                        			<div class="panel-body">
                            			<p class="">You may take this text as a copied and pasted one, but it is not so. Appearances are deceitful. For real, this text was created by our copywriters, so you could see in details how would the final product look like.</p>
                        			</div>
                    			</div>
                			</div>
                			<div class="panel">
                    			<a class="panel-heading collapsed" data-toggle="collapse" role="button" data-parent="#accordion-faq-3" href="#collapse-faq-3-2" aria-expanded="false">
                        			<h4>Are template updates free?</h4>
                    			</a>
                    			<div id="collapse-faq-3-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        			<div class="panel-body">
                            			<p>We could paste here the part of some article or couple of paragraphs from interesting book (that you have read for sure and may be even liked) or text in unfamiliar language ever. But we did not. We spent time on writing our own text, the text that you are reading now just like users will read your content in nearest future.</p>
                        			</div>
                    			</div>
                			</div>
                			<div class="panel">
                    			<a class="panel-heading collapsed" data-toggle="collapse" role="button" data-parent="#accordion-faq-3" href="#collapse-faq-3-3" aria-expanded="false">
                        			<h4>Where can I get technical support for a template?</h4>
                    			</a>
                    			<div id="collapse-faq-3-3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        			<div class="panel-body">
                            			<p>Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things.</p>
                        			</div>
                    			</div>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-list-text" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-8">
                			<div class="row">
                    			<div class="col-sm-4">
                        			<h4><strong>Learn more</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<a href="#">Pricing and Plans</a>
                            			</li>
                            			<li>
                                			<a href="#">Customers care association</a>
                            			</li>
                            			<li>
                                			<a href="#">New features &amp; benefits</a>
                            			</li>
                            			<li>
                                			<a href="#">Company education</a>
                            			</li>

                        			</ul>
                    			</div>
                    			<div class="col-sm-5">
                        			<h4><strong>About</strong></h4>
                        			<p>The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.</p>
                    			</div>
                    			<div class="col-sm-3">
                        			<h4><strong>Social</strong></h4>
                        			<ul class="text-list">
                            			<li>
                                			<i class="icon-facebook icon-position-left"></i><span><a href="#">Facebook</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-twitter icon-position-left"></i><span><a href="#">Twitter</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-instagram icon-position-left"></i><span><a href="#">Instagram</a></span>
                            			</li>
                            			<li>
                                			<i class="icon-linkedin icon-position-left"></i><span><a href="#">Linkedin</a></span>
                            			</li>
                        			</ul>
                    			</div>
                			</div>
            			</div>
            			<div class="col-md-4 text-md-right">
                			<img src="images/banner-rect.png" srcset="images/banner-rect@2x.png 2x" alt="banner" class="screen">
            			</div>
        			</div>
        			<hr class="mt-50 mb-50">
        			<div class="row">
            			<div class="col-md-6">
                			<p>© Multifour.com.
                    			<br>All rights reserved.</p>
            			</div>
            			<div class="col-md-6 text-md-right">
                			<img src="images/logo2-light.png" srcset="images/logo2-light@2x.png 2x" alt="logo" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>