<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Coming soon 3</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/aos.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="clock"><div class="arrow_sec"></div><div class="arrow_min"></div></div></div>
		<div id="wrap">
			<header id="header-center-timer" class="pt-125 pb-150 text-center dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<img src="images/logo2-light-big.png" srcset="images/logo2-light-big@2x.png 2x" class="mb-50" alt="Gumapp">
                			<h1 class="mb-10"><strong>New update coming soon</strong></h1>
                			<div class="compressed-box-50">
                    			<div class="row countdown" id="header-center-timer-countdown">
                        			<div class="col-sm-3 col-xs-6">
                            			<h1 class="mb-0"><span class="days">360</span></h1>
                            			<h4 class="">Days</h4>
                            			<div class="col-md-sep"><span>:</span></div>
                        			</div>
                        			<div class="col-sm-3 col-xs-6">
                            			<h1 class="mb-0"><span class="hours">10</span></h1>
                            			<h4 class="">Hours</h4>
                            			<div class="col-md-sep"><span>:</span></div>
                        			</div>
                        			<div class="col-sm-3 col-xs-6">
                            			<h1 class="mb-0"><span class="minutes">30</span></h1>
                            			<h4>Minutes</h4>
                            			<div class="col-md-sep"><span>:</span></div>
                        			</div>
                        			<div class="col-sm-3 col-xs-6">
                            			<h1 class="mb-0"><span class="seconds">05</span></h1>
                            			<h4>Seconds</h4>
                        			</div>
                    			</div>
                			</div>
                			<a class="btn btn-primary mt-50 btn-lg" data-target="#popup-form-halfbg" data-aos="zoom-in" data-aos-easing="ease-out-back" data-aos-duration="700" data-aos-delay="0" data-aos-once="true" href="http://localhost/suprapagebuilder/main.html#" data-toggle="modal"><span><strong>Notify Me</strong></span></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="benefit-fluid-card-5col" class="text-center light">
    			<div class="container-fluid">
        			<div class="row flex-md-vstretch no-side-pad no-pad">

            			<div class="col-md-20 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #E3FFFD;">
                			<img src="images/icon-img-color-classicswatch.svg" class="screen mb-30" alt="">
                			<h3 class="">Smart innovations</h3>
            			</div>

            			<div class="col-md-20 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #E3F3FF;">
                			<img src="images/icon-img-color-connections.svg" class="screen mb-30" alt="">
                			<h3 class="">Design &amp; interface</h3>
            			</div>


            			<div class="col-md-20 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #E5E3FF;">
                			<img src="images/icon-img-color-ipadtarget.svg" class="screen mb-30" alt="">
                			<h3>Flexibility for people</h3>
            			</div>

            			<div class="col-md-20 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #F6E3FF;">
                			<img src="images/icon-img-color-hexagon.svg" class="screen mb-30" alt="">
                			<h3>Comfortable menu</h3>
            			</div>

            			<div class="col-md-20 col-sm-6 col-xs-12 card card-simple double-padding-box" style="background: #FFE8E8;">
                			<img src="images/icon-img-color-connections.svg" class="screen mb-30" alt="">
                			<h3>Technology</h3>
            			</div>

        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-center-img-anim-text-btn" class="pt-150 pb-125 text-center light">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-12">
                			<div class="anim-box">
                    			<img src="images/mockup-macbook.png" srcset="images/mockup-macbook@2x.png 2x" alt="Screen" class="screen" data-aos="fade-right" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="0" style="position:relative; z-index:1;">
                    
                    			<img src="images/stamp-best-round.png" srcset="images/stamp-best-round@2x.png 2x" alt="Screen" class="screen inline-block" data-aos="flip-left" data-aos-easing="ease-out-back" data-aos-duration="800" data-aos-delay="800" style="position: absolute;right:2%;top:-5%;z-index:2;">
                    
                    			<div class="shadow-box padding-box" style="background: #fff; position: absolute; left:-10%; top:25%; width:50%; z-index: 3" data-aos="fade-right" data-aos-easing="ease-out-back" data-aos-duration="600" data-aos-delay="1000"><h4><em>"It’s just five stars. I will certainly come back and bring my friends with me"</em></h4></div>
                			</div>

                			<h2 class="mt-50">New awesome features</h2>
                			<p class="mb-30">The given template is armed with the number of settings, so you can easily adapt it according to you requirements. Plenty of additional elements guarantee that you will get the project you exactly wanted in the end, saving you time and money.
                			</p>
                			<a href="#" class="btn btn-lg btn-default"><span>Try demo</span><i class="icon-arrow-right icon-position-right"></i></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="clients-carousel-3" class="pt-75 pb-75 dark text-center">
    			<div class="container-fluid">
        			<div class="row">
            			<div class="col-md-12">
                			<div class="carousel-6item-fluid owl-drag"><div class="item">
                        			<img src="images/client-1-dark.png" srcset="images/client-1-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-2-dark.png" srcset="images/client-2-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-3-dark.png" srcset="images/client-3-dark@2x.png 2x" alt="logo" class="screen ">
                    			</div><div class="item">
                        			<img src="images/client-4-dark.png" srcset="images/client-4-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-5-dark.png" srcset="images/client-5-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-6-dark.png" srcset="images/client-6-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-7-dark.png" srcset="images/client-7-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-8-dark.png" srcset="images/client-8-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-9-dark.png" srcset="images/client-9-dark@2x.png 2x" alt="logo" class="screen">
                    			</div><div class="item">
                        			<img src="images/client-10-dark.png" srcset="images/client-10-dark@2x.png 2x" alt="logo" class="screen">
                    			</div></div>
            			</div>
        			</div>
    			</div>

    			<div class="bg"></div>
			</section><section id="desc-tabs" class="pt-100 pb-125 text-center light">
    			<div class="container">
        			<h2 class="mb-50">FAQ</h2>
        			<div class="row">
            			<div class="col-md-12">

                			<ul class="nav nav-tabs" id="myTabs" role="tablist">
                    			<li class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><span>History</span></a></li><li class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span>Vision</span></a></li><li class=""><a href="#benefit" role="tab" id="benefit-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><span>Targets</span></a></li>
                			</ul>
                			<div class="tab-content mt-40" id="myTabContent">
                    			<div class="tab-pane fade active in" role="tabpanel" id="home" aria-labelledby="home-tab">
                        
                                			<p class="">Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things. So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success</p>
                    			</div>
                    			<div class="tab-pane fade" role="tabpanel" id="profile" aria-labelledby="profile-tab">
                        
                                			<p>Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things. So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success</p>
                    			</div>
                    			<div class="tab-pane fade" role="tabpanel" id="benefit" aria-labelledby="benefit-tab">
                        
                                			<p>Of course, this text is just a little thing, one of those smalls that create this product in whole. They are – each of them – are responsible for the fact whether this product would be great or ordinary. It is possible to raise the whole product up only through raising smalls on a new level. So, this is what we are busy now. We spend our time and attention exactly to these things. So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience. UX and UI are not just empty phrases for us. It is very important for us that the user could understand correctly the message your project’s trying to say to him or her. But, correct giving of the information is just a half of success. Emotions that causes your project in visitor are no less important ticket to success</p>
                    			</div>
                			</div>

            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-center-social-logo" class="dark pt-100 pb-100 text-center">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-12">
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li>
                    			<li class="">
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-github-alt icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-pinterest-p icon-size-m"></i></a>
                    			</li>
                    			<li class="">
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li>
                    			<li class="">
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-instagram icon-size-m"></i></a>
                    			</li>
                    			<li>
                        			<a href="#"><i class="icon-youtube icon-size-m"></i></a>
                    			</li>
                			</ul>
                			<p class="mt-20">© Multifour.com. All rights reserved.</p>
                			<div>
                    
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"><section class="modal fade modal-confirm flex-center" id="popup-form-halfbg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-left light">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mb-20">Subscribe</h2>
                        <p class="mb-30">We are going to provide you with actual and important for you information without spam or fluff</p>
                        <form action="./scripts/request.php" class="contact_form form-style-1" novalidate="novalidate" id="popup-form-halfbg-form">
                            <div class="form-group"><input type="text" class="form-control" placeholder="Your name" name="NAME"></div>
                            <div class="form-group"><input type="email" class="form-control" placeholder="Your email" name="EMAIL"></div><button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-primary"><span>Notify me</span><i class="icon-position-right icon-paper-plane icon-size-m"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="half-container-right"></div>
            <div class="bg"></div>
        </div>
    </div>
</section></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/aos.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>