<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>App  3</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/owl.carousel.css" />
		<link rel="stylesheet" href="css/magnific-popup.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="battery"><div class="load-line"></div></div></div>
		<div id="wrap">
			<header id="header-img-slogan-videobg" class="pt-125 pb-125 dark text-left">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-6">
                			<img src="images/mockup-iphone7-duos.png" srcset="images/mockup-iphone7-duos@2x.png 2x" alt="app screen" class="screen">
            			</div>
            			<div class="col-md-5 col-md-offset-1">
                			<img class="mb-50" src="images/icon.png" srcset="images/icon@2x.png 2x" alt="Your logo">
                			<h1><strong>GUM</strong></h1>
                			<h2>Design &amp; Flexibility</h2>
                			<p class="mb-50">The given template is armed with the number of settings, so you can easily adapt it according to you requirements.
                			</p>
                			<a href="#" class="btn btn-primary"><i class="icon-apple2 icon-size-m icon-position-left"></i><span>Download <strong>App</strong></span></a><a href="https://vimeo.com/123395658" class="single-iframe-popup btn btn-default goto"><i class="icon-ion-ios-play-outline icon-size-m icon-position-left"></i><span><strong>View intro</strong></span></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg bg-video parallax-bg skrollable-after" data-vide-bg="mp4: video/video_bg, ogv: video/video_bg, jpg: video/video_bg" data-vide-options="posterType: jpg" data-top-bottom="transform:translate3d(0px, 25%, 0px)" data-bottom-top="transform:translate3d(0px, -25%, 0px)"></div>
			</header><section id="benefit-3col" class="pt-150 pb-150 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<i class="card-icon icon-screen icon-size-xl icon-color mb-25"></i>
                    			<h2 class="mb-25">Fresh interface</h2>
                    			<p class="mb-50"> So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience.</p>
                    			<a href="#" class="btn btn-primary"><span>Try now</span><i class="icon-window icon-size-m icon-position-right"></i></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<i class="card-icon icon-paint-roller icon-size-xl icon-color mb-25"></i>
                    			<h2 class="mb-25">Unlimited colors</h2>
                    			<p class="mb-50"> So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience.</p>
                    			<a href="#" class="btn btn-primary"><span>Try now</span><i class="icon-window icon-size-m icon-position-right"></i></a>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card card-simple">
                    			<i class="card-icon icon-shield-check icon-size-xl icon-color mb-25"></i>
                    			<h2 class="mb-25">24/7 Support</h2>
                    			<p class="mb-50"> So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience.</p>
                    			<a href="#" class="btn btn-primary"><span>Try now</span><i class="icon-window icon-size-m icon-position-right"></i></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-halfbg-text-btn-2" class="pt-150 pb-md-150 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-5 col-md-offset-7">
                			<div class="content-box">
                    			<h2 class="mb-50">Multiplatform</h2>
                    			<p class="mb-50"> So, what is the secret of successful template design? First of all, it is its friendliness – both for the template’s owner and for his or her future targeted audience.</p>
                    			<a href="#" class="btn btn-primary"><span>Try now</span><i class="icon-window icon-size-m icon-position-right"></i></a>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="half-container-left mt-150"></div>
    			<div class="bg"></div>
			</section><section id="testimonials-carousel-stars" class="light pt-125 pb-125 text-left">
    			<div class="container">
        			<h2>People say</h2>
        			<div class="row">
            			<div class="col-md-12">
                			<div class="carousel-4item-dots-marg owl-drag"><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-half-outline icon-size-m icon-color"></i>
                            			</span>
                        			<p>I always thought that people used to pay much for quality. But these guys changed my opinion. The quality exceeds the price many times. I recommend it to everybody.</p>
                        			<div class="card-author"><small>Tom Clancy</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i>
                            			</span>
                        			<p>Such simple and flexible settings make this product a universal solution for the most of the interested customers. Try it, I am sure for 100% that you will be satisfied.</p>
                        			<div class="card-author"><small>Sarah Fox</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i>
                            			</span>
                        			<p>I am deeply experienced in this sphere (more than 14 years) and I know how should high-quality products look like. Here it is. It’s excellent.</p>
                        			<div class="card-author"><small>Tod Valdi</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-half-outline icon-size-m icon-color"></i>
                            			</span>
                        			<p>My colleague recommended them to me. I hesitated for a long time, but than I tried and understood what I had paid off for.</p>
                        			<div class="card-author"><small>Alex, age 45</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i>
                            			</span>
                        			<p>It’s just five stars. I will certainly come back and bring my friends with me.</p>
                        			<div class="card-author"><small>Tina85</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star icon-size-m icon-color"></i>
                            			</span>
                        			<p>I don’t like to write reviews. But this time I can’t help from giving proper respect to developers. This is really nice work.</p>
                        			<div class="card-author"><small>Customer, age 32</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i>
                            			</span>
                        			<p>I can’t find alternatives to this template in the market for such a price. Of course, if you seek deeply you will find the analogue, but believe my experience – the price will be much higher.</p>
                        			<div class="card-author"><small>Sarah, designer</small></div>
                    			</div><div class="item">
                        			<span class="mb-25 icons-row">
                                			<i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i><i class="icon-star-fill icon-size-m icon-color"></i>
                            			</span>
                        			<p>This is a great product. It reveals an individual approach to each customer. I liked the level of the provided service.</p>
                        			<div class="card-author"><small>Agency Director</small></div>
                    			</div></div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="action-text-btn-img" class="dark pt-100 pb-100">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<h2 class="mb-50">Download today and get spacial offer!</h2>
                			<a class="btn btn-primary" href="#"><i class="icon-apple2 icon-size-m icon-position-left"></i><span>Download on the <strong>App Store</strong></span></a>
            			</div>
            			<div class="col-md-6 col-md-offset-1 text-center">
                			<img src="images/mockup-iphone7-horizontal-black.png" srcset="images/mockup-iphone7-horizontal-black@2x.png 2x" alt="iPhone" class="screen">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><footer id="footer-social-logo" class="pt-100 pb-100 light">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-6">
                			<div class="mb-25"><span>© Multifour.com. All rights reserved.</span></div>
                			<ul class="social-list">
                    			<li>
                        			<a href="#"><i class="icon-twitter icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-facebook icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-linkedin icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-github-alt icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-pinterest-p icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-google-plus icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-dribbble icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-behance icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-instagram icon-size-m"></i></a>
                    			</li><li>
                        			<a href="#"><i class="icon-youtube icon-size-m"></i></a>
                    			</li>
                			</ul>
            			</div>
            			<div class="col-md-6 text-right">
                			<img src="images/logo-mid.png" srcset="images/logo-mid@2x.png 2x" alt="Your logo">
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</footer>
		</div>
		<footer></footer>
		<div class="modal-container"></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.vide.min.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script src="js/skrollr.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>