<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Real estate</title>
		
<link rel="icon" href="images/favicon.png" type="image/x-icon">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
		<script src="js/fonts.js"></script>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/icons.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/preloader.css" />
	</head>
    <body class="light-page">
	<div id="preloader"><div class="location_indicator"></div></div>
		<div id="wrap">
			<header id="header-form-slogan-2" class="pt-125 pb-150 dark">
    			<div class="container">
        			<div class="row flex-md-vmiddle">
            			<div class="col-md-5">
                			<h2 class="mb-25">Looking for a new home?</h2>
                			<form action="scripts/request.php" class="contact_form" novalidate="novalidate" id="header-form-slogan-2-form">
                    			<div class="form-group">
                        			<input type="text" class="form-control" placeholder="Full name*" name="NAME">
                    			</div>
                    			<div class="form-group">
                        			<input type="email" class="form-control" placeholder="Email address*" name="EMAIL">
                    			</div>
                    			<div class="form-group"><input type="text" class="form-control" placeholder="Phone number*" name="PHONE"></div>
                    			<div class="form-group select-group"><select class="form-control" name="LOC"><option value="Location" selected="" disabled="">Location</option><option value="Los Angeles">Los Angeles</option><option value="New York">New York</option><option value="London">London</option><option value="Rome">Rome</option></select></div>
                    			<div class="form-group select-group"><select class="form-control" name="TYPE"><option value="Type" selected="" disabled="">Type</option><option value="Apartment">Apartment</option><option value="House">House</option><option value="Villa">Villa</option><option value="Hotel">Hotel</option></select></div>
                    			<div class="form-group select-group"><select class="form-control" name="BED"><option value="Bedrooms" selected="" disabled="">Bedrooms</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option></select></div>
                    			<div class="text-left supra radio nomargintop"><div class="label-name"></div><label class="radio-inline"><input type="radio" name="RENTSALE" id="radio1" value="option1"><span class="lbl">For Rent</span></label><label class="radio-inline"><input type="radio" name="radio" id="radio2" value="option2"><span class="lbl">For Sale</span></label></div>
                    			<button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-lg btn-block btn-primary"><span>Ask Frank</span></button>
                			</form>
            			</div>
            			<div class="col-md-6 col-md-offset-1">
                			<h1 class="mb-40"><strong>Frank</strong> Shelby</h1>
                			<p class="mb-50">Emotions that causes your project in visitor are no less important ticket to success. Modern solutions, interesting elements, unique approach to details make this template recognizable and interesting.</p>
                			<ul class="text-icon-list text-icon-list-l">
                    			<li><i class="icon-apartment icon-size-l icon-position-left"></i>
                        			<h3>Huge apartments base</h3>
                    			</li>
                    			<li><i class="icon-shield-check icon-size-l icon-position-left"></i>
                        			<h3>Money safe guarantee</h3>
                    			</li>
                    			<li><i class="icon-telephone icon-size-l icon-position-left"></i>
                        			<h3><strong>8 (0123) 234 5678</strong></h3>
                    			</li>
                			</ul>
                			<a href="#desc-img-text-4col-2" class="btn btn-lg btn-default mt-60 smooth" target="_self"><i class="icon-arrow-down icon-position-left"></i><span>More apartments</span></a>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</header><section id="desc-img-text-4col-2" class="pt-125 pb-125 light">
    			<div class="container">
        			<h2 class="mb-75">Apartments for rent</h2>
        			<div class="row">
            			<div class="col-md-3 col-sm-6">
                			<div class="card">
                    			<img src="images/screen-36.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Downtown duplex</strong></h4>
                    			<p class="mb-15 desc-text">21 Street Road, Chicago</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">160</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$1,100</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6">
                			<div class="card">
                    			<img src="images/screen-37.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Peaceful Forest Villa</strong></h4>
                    			<p class="mb-15 desc-text">144 Sunny Ave, NY</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">520</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">3</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$4,750</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6">
                			<div class="card">
                    			<img src="images/screen-38.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Old English Manor</strong></h4>
                    			<p class="mb-15 desc-text">34/5 Lane Lake, London</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">856</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">4</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">4</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$11,000</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-3 col-sm-6">
                			<div class="card">
                    			<img src="images/screen-39.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Historical Penthouse</strong></h4>
                    			<p class="mb-15 desc-text">57 Broadway Ave, NY</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">210</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$2,400</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="desc-img-text-3col-2" class="dark pt-125 pb-125">
    			<div class="container">
        			<h2 class="mb-75">Apartments for sale</h2>
        			<div class="row">
            			<div class="col-md-4">
                			<div class="card">
                    			<img src="images/screen-36.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Downtown duplex</strong></h4>
                    			<p class="mb-15 desc-text">21 Street Road, Chicago</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">160</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$1,100</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card">
                    			<img src="images/screen-37.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Peaceful Forest Villa</strong></h4>
                    			<p class="mb-15 desc-text">144 Sunny Ave, NY</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">520</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">3</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">2</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$4,750</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
            			<div class="col-md-4">
                			<div class="card">
                    			<img src="images/screen-38.jpg" alt="Photo" class="card-img">
                    			<h4 class="mt-20 mb-0"><strong>Old English Manor</strong></h4>
                    			<p class="mb-15 desc-text">34/5 Lane Lake, London</p>
                    			<ul class="text-icon-list text-icon-list-sep">
                        			<li class="clearfix"><i class="icon-cube icon-color icon-size-m icon-position-left"></i>
                            			<span>Area (SqFt)</span>
                            			<span class="pull-right">856</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bed icon-color icon-size-m icon-position-left"></i>
                            			<span>Bedrooms</span>         
                            			<span class="pull-right">4</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-bathtub icon-color icon-size-m icon-position-left"></i>
                            			<span>Bathrooms</span>
                            			<span class="pull-right">4</span>
                        			</li>
                        			<li class="clearfix"><i class="icon-tag icon-color icon-size-m icon-position-left"></i>
                            			<span>Price</span>
                            			<span class="pull-right"><strong>$11,000</strong></span>
                        			</li>
                    			</ul>
                			</div>
            			</div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section><section id="action-text-btn" class="pt-150 pb-125 dark">
    			<div class="container">
        			<div class="row">
            			<div class="col-md-7">
                			<h2>Call today<br><strong>8 (0123) 234 5678&nbsp;</strong></h2></div>
            			<div class="col-md-5 text-md-right"><a class="btn btn-default btn-lg" href="http://localhost/suprapagebuilder/main.html#" data-toggle="modal" data-target="#popup-halfbg-form"><i class="icon-position-left icon-envelope-open icon-size-m"></i> <span>Drop us a Line</span></a></div>
        			</div>
    			</div>
    			<div class="bg"></div>
			</section>
		</div>
		<footer></footer>
		<div class="modal-container"><section class="modal fade modal-confirm flex-center" id="popup-halfbg-form" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content text-left light">
            <div class="half-container-left"></div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h2 class="mb-30">Drop us a line</h2>
                        <p class="small mb-30">In our work we try to use only the most modern, convenient and interesting solutions.</p>
                        <form action="./scripts/request.php" class="contact_form mb-0" id="popup-halfbg-form-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full name" name="NAME">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email Address" name="EMAIL">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Your message or question" name="MESSAGE"></textarea>
                            </div>
                            <button type="submit" data-loading-text="•••" data-complete-text="Completed!" data-reset-text="Try again later..." class="btn btn-primary btn-block"><i class="icon-paper-plane icon-position-left icon-size-m"></i><span>Send Message</span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="bg"></div>
        </div>
    </div>
</section></div>
		<script src="js/jquery-2.1.4.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.validate.min.js"></script>
		<script src="js/jquery.smooth-scroll.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCByts0vn5uAYat3aXEeK0yWL7txqfSMX8"></script>
		<script src="https://cdn.jsdelivr.net/jquery.goodshare.js/3.2.8/goodshare.min.js"></script>
		<script src="js/custom.js"></script>
		<script src="js/index.js"></script>
	</body>
</html>